{% load rules %}
{% load staticfiles %}
{% load samplesheets_tags %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{% check_backend 'omics_irods' as irods_backend_enabled %}

{% if irods_backend_enabled %}
  {% load irodsbackend_tags %}
{% endif %}

{% has_perm 'samplesheets.view_sheet' request.user project as can_view_sheet %}

{% get_investigation project as investigation %}

<style type="text/css">
  table#sodar-ss-details-table tr td:nth-child(2) {
    width: 220px;
  }

  table#sodar-ss-details-table tr td:nth-child(3) {
    width: 110px;
  }

  /* Responsive modifications */
  @media screen and (max-width: 800px) {
    table#sodar-ss-details-table tr th:nth-child(2) {
      display: none;
    }
    table#sodar-ss-details-table tr td:nth-child(2) {
      display: none;
    }
  }
</style>

{% if not investigation %}
  <div class="card-body bg-faded font-italic text-center">
    <p>No sample sheets available</p>
  </div>
{% elif investigation and not investigation.irods_status %}
  <div class="card-body bg-faded font-italic text-center">
    <p>Sample sheets available, sample repository not created in iRODS</p>
  </div>
{% elif investigation and can_view_sheet %}
  <!-- Irodsbackend -->
  {% get_backend_include 'omics_irods' 'js' as irodsbackend_js %}
  {{ irodsbackend_js|safe }}

  <table class="table sodar-card-table" id="sodar-ss-details-table">
    <thead>
      <tr>
        <th>Investigation/Study/Assay</th>
        <th>Statistics</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i class="fa fa-fw fa-cube"></i>
          <a href="{% url 'samplesheets:project_sheets' project=project.sodar_uuid %}#/overview">{{ investigation.title }}</a>
        </td>
        <td>
          {% get_irods_path investigation as irods_inv_path %}
          {% autoescape off %}
            {% get_stats_html irods_inv_path project %}
          {% endautoescape %}
        </td>
        <td>
          {% if irods_backend_enabled %}
            {% get_irods_path investigation as root_irods_path %}
            {% include 'irodsbackend/_irods_buttons.html' with irods_dirs=investigation.irods_status irods_path=root_irods_path list_url=None data_table=False show_file_list=False %}
          {% endif %}
        </td>
      </tr>
      {% for study in investigation.studies.all %}
        <tr>
          <td class="pl-4">
            {% autoescape off %}{% get_icon study %}{% endautoescape %}
             <a href="{% url 'samplesheets:project_sheets' project=project.sodar_uuid %}#/study/{{ study.sodar_uuid }}">{{ study.get_display_name }}</a>
          </td>
          <td>
            {% get_irods_path study as irods_study_path %}
            {% autoescape off %}
              {% get_stats_html irods_study_path project %}
            {% endautoescape %}
          </td>
          <td>
            {% if irods_backend_enabled %}
              {% get_irods_path study as study_irods_path %}
              {% include 'irodsbackend/_irods_buttons.html' with irods_dirs=investigation.irods_status irods_path=study_irods_path list_url=None data_table=False show_file_list=False %}
            {% endif %}
          </td>
        </tr>
        {% for assay in study.assays.all %}
          <tr>
            <td class="pl-5">
              {% autoescape off %}{% get_icon assay %}{% endautoescape %}
               <a href="{% url 'samplesheets:project_sheets' project=project.sodar_uuid %}#/assay/{{ assay.sodar_uuid }}">{{ assay.get_display_name }}</a>
              {% get_irods_path assay as irods_assay_path %}
            </td>
            <td>
              {% get_irods_path assay as irods_assay_path %}
              {% autoescape off %}
                {% get_stats_html irods_assay_path project %}
              {% endautoescape %}
            </td>
            <td>
              {% if irods_backend_enabled %}
                {% get_irods_path assay as assay_irods_path %}
                {% include 'irodsbackend/_irods_buttons.html' with irods_dirs=investigation.irods_status irods_path=assay_irods_path list_url=None data_table=False show_file_list=False %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
