{% load samplesheets_tags %}

{% if irods_backend_enabled %}
  {% load irodsbackend_tags %}
{% endif %}

<div class="card-body omics-card-body">
  <dl class="row omics-dl">
    <dt class="col-md-3">Idenfitier</dt>
    <dd class="col-md-9">{{ investigation.identifier }}</dd>
    {% if investigation.title != project.title %}
      <dt class="col-md-3">Title</dt>
      <dd class="col-md-9">{{ investigation.title }}</dd>
    {% endif %}
    {% if investigation.description != project.description %}
      <dt class="col-md-3">Description</dt>
      <dd class="col-md-9">{{ investigation.description }}</dd>
    {% endif %}
    <dt class="col-md-3">iRODS Repository</dt>
    <dd class="col-md-9">
      {% if investigation.irods_status %}
        <span class="badge badge-pill badge-success">Available</span>
        {% if irods_backend_enabled %}
          {% get_irods_path investigation as irods_inv_path %}
          {% autoescape off %}
            {% get_stats_html irods_inv_path project %}
          {% endautoescape %}
        {% endif %}
      {% else %}
        <span class="badge badge-pill badge-danger">Not Created</span>
      {% endif %}
    </dd>
    {% for comment_k, comment_v in investigation.comments.items %}
      {% if comment_v.value %}
        <dt class="col-md-3">{{ comment_k }}</dt>
        <dd class="col-md-9">{{ comment_v.value }}</dd>
      {% endif %}
    {% endfor %}
  </dl>
</div>
