{% load rules %}
{% has_perm 'samplesheets.edit_sheet' request.user project as can_edit_sheet %}
{% has_perm 'samplesheets.create_dirs' request.user project as can_create_dirs %}
{% has_perm 'samplesheets.export_sheet' request.user project as can_export_sheet %}
{% has_perm 'samplesheets.delete_sheet' request.user project as can_delete_sheet %}


<div class="btn-group ml-auto" id="omics-ss-buttons-op">
  <button class="btn btn-primary dropdown-toggle"
          type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Sheet Operations
  </button>
  <div class="dropdown-menu dropdown-menu-right">

    {# Import #}
    {% if not investigation and can_edit_sheet %}
      <a class="dropdown-item" href="{% url 'samplesheets:import' project=project.omics_uuid %}">
        <i class="fa fa-fw fa-upload"></i> Import ISAtab
      </a>
    {% endif %}

    {# Export #}
    {% comment %}
    {% if investigation and can_export_sheet %}
      <a class="dropdown-item" href="{% url 'sheet_export_json' project=project.omics_uuid %}">
        <i class="fa fa-fw fa-download"></i> Export JSON
      </a>
    {% endif %}
    {% endcomment %}

    {% if investigation and not investigation.irods_status and can_create_dirs %}
      <a class="dropdown-item" href="{% url 'samplesheets:dirs' project=project.omics_uuid %}">
        <i class="fa fa-fw fa-database"></i> Create iRODS Directories
      </a>
    {% endif %}

    {# Delete #}
    {% if investigation and can_delete_sheet %}
      <a class="dropdown-item" href="{% url 'samplesheets:delete' project=project.omics_uuid %}">
        <i class="fa fa-fw fa-close"></i> Delete Sheets
      </a>
    {% endif %}

  </div>
</div>

{% if up %}
  </div>
{% endif %}
