{% load samplesheets_tags %}

<div class="btn-group ml-auto" id="omics-ss-buttons-nav">
  <button class="btn btn-success dropdown-toggle"
          type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-navicon"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">

    {% for s in investigation.studies.all %}
      <a class="dropdown-item" href="{% if s != study %}{% url 'samplesheets:project_sheets' study=s.omics_uuid %}{% endif %}#{{ s.omics_uuid }}">
          <i class="fa fa-fw fa-list-alt text-info"></i> {% get_study_title s %}
      </a>

      {% for a in s.assays.all %}
        <a class="dropdown-item" href="{% if s != study %}{% url 'samplesheets:project_sheets' study=s.omics_uuid %}{% endif %}#{{ a.omics_uuid }}">
            <i class="fa fa-fw fa-table text-danger ml-4"></i> {% get_assay_title a %}
        </a>
      {% endfor %}
    {% endfor %}

    <a class="dropdown-item" href="{% url 'samplesheets:project_sheets' project=project.omics_uuid subpage='info' %}">
      <i class="fa fa-fw fa-sitemap"></i> Overview
    </a>
  </div>
</div>
