{% load rules %}
{% load samplesheets_tags %}
{% load projectroles_common_tags %}

<tr class="omics-ss-search-list-item" id="omics-ss-project-search-item-{{ item.omics_uuid }}">
  <td><a href="{% get_material_link item %}">{{ item.name }}</a></td>
  <td>{% get_material_type item %}</td>
  <td>
    {% autoescape off %}
      {% get_project_link item.get_project %}
    {% endautoescape %}
  </td>
  <td>
    {% if item.study %}
      <a href="{% url 'samplesheets:project_sheets' study=item.study.omics_uuid %}">
        {{ item.study.get_display_name }}
      </a>
    {% else %}
      N/A
    {% endif %}
  </td>
  <td>
    {% if item.item_type == 'SAMPLE' %}
      {% for assay in item.get_sample_assays %}
        <a href="{% url 'samplesheets:project_sheets' study=item.study.omics_uuid %}#assay{{ assay.omics_uuid }}">
          {{ assay.get_display_name }}
        </a>
        <br />
      {% endfor %}
    {% elif item.assay %}
      <a href="{% url 'samplesheets:project_sheets' study=item.study.omics_uuid %}#assay{{ item.assay.omics_uuid }}">
        {{ item.assay.get_display_name }}
      </a>
    {% else %}
      N/A
    {% endif %}
  </td>
</tr>
