{% load rules %}
{% load samplesheets_tags %}
{% load projectroles_common_tags %}

{% if irods_backend_enabled %}
  {% load irodsbackend_tags %}
  {% get_webdav_url item.study.get_project request.user as webdav_url %}
{% endif %}

<tr class="sodar-ss-search-list-item"
    id="sodar-ss-project-search-item-{{ item.sodar_uuid }}">
  <td>
    <div class="sodar-overflow-container">
      {% highlight_search_term item.name search_terms as item_display_name %}
      {% if item.type != 'file' %}
        <a href="{% get_material_search_url item %}">
          {{ item_display_name | safe }}
        </a>
      {% elif webdav_url %}
        <a href="{{ webdav_url }}{{ item.irods_path }}">{{ item_display_name | safe }}</a>
      {% else %}
        {{ item_display_name }}
      {% endif %}
    </div>
  </td>
  {% if item.type != 'file' %}
    <td class="text-nowrap">
      {% get_search_item_type item %}
    </td>
  {% endif %}
  <td>
    <div class="sodar-overflow-container">
      {% get_project_link item.project as project_link %}
      {{ project_link | safe }}
    </div>
  </td>
  {% if item.type != 'file' %}
    <td>
      <div class="sodar-overflow-container">
        {% if item.study %}
          <a href="{{ item.study.get_url }}">
            {{ item.study.get_display_name }}
          </a>
        {% else %}
          N/A
        {% endif %}
      </div>
    </td>
  {% endif %}
  <td>
    {% if item.assays %}
      {% for assay in item.assays %}
        <div class="sodar-overflow-container">
          <a href="{{ assay.get_url }}">
            {{ assay.get_display_name }}
          </a>
          <br />
        </div>
      {% endfor %}
    {% else %}
      N/A
    {% endif %}
  </td>
</tr>
