{% load samplesheets_tags %}

<table class="table cell-border order-column omics-ss-data-table" id="{% get_table_id parent %}">
  <thead>
    {# Top header #}
    <tr>
      {% for section in table.top_header %}
        {% autoescape off %}
          {% render_top_header section %}
        {% endautoescape %}
      {% endfor %}
      <th class="bg-white omics-ss-top-header omics-ss-data-links-header omics-ss-data-cell-links">&nbsp;</th>
    </tr>
    {# Field header #}
    <tr>
      {% for header in table.field_header %}
        <th class="{{ header.classes|join:' ' }}">{{ header.value }}</th>
      {% endfor %}
      <th class="bg-white omics-ss-data-links-header">Links</th>
    </tr>
  </thead>
  <tbody>
    {# Content #}
    {% for row in table.table_data %}
      {% get_random_id as random_id %}
      <tr id="omics-ss-data-row-{{ random_id }}">
        {% for cell in row %}
          {% autoescape off %}
            {% render_cell cell %}
          {% endautoescape %}
        {% endfor %}
        <td class="bg-light omics-ss-data-cell-links">
          <button class="btn btn-secondary btn-sm omics-ss-link-btn"
                  id="omics-ss-link-btn-{{ random_id }}"
                  type="submit" {% if not investigation.irods_status %}disabled{% endif %}>
            <i class="fa fa-external-link"></i>
          </button>
        </td>

        {% comment %}
        {% autoescape off %}
          {% render_links_cell row %}
        {% endautoescape %}
        {% endcomment %}
      </tr>
    {% endfor %}
   </tbody>
</table>
