{% load samplesheets_tags %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{# Load irodsbackend tags if backend is active #}
{% if irods_backend_enabled %}
  {% load irodsbackend_tags %}
{% endif %}

{% get_class parent lower=True as parent_class %}

<table class="table cell-border order-column omics-ss-data-table omics-ss-data-table-{{ parent_class }}
  {% if parent_class == 'assay' and assay_plugin and not assay_plugin.display_row_links %}
    omics-ss-data-hide-links
  {% endif %}
  " id="{% get_table_id parent %}">
  <thead>
    {# Top header #}
    <tr>
      {% autoescape off %}
        {% render_top_headers table.top_header table.col_values %}
      {% endautoescape %}
      {% if parent_class == 'assay' and not assay_plugin or assay_plugin.display_row_links %}
        <th class="bg-white omics-ss-top-header omics-ss-data-links-header omics-ss-data-cell-links">&nbsp;</th>
      {% endif %}
    </tr>
    {# Field header #}
    <tr class="omics-ss-header-row">
      {% autoescape off %}
        {% render_field_headers table.field_header table.col_values %}
      {% endautoescape %}
      {% if parent_class == 'assay' and not assay_plugin or assay_plugin.display_row_links %}
        <th class="bg-white omics-ss-data-links-header">Links</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {# Content #}
    {% for row in table.table_data %}
      {% get_row_id as row_id %}
      <tr id="omics-ss-data-row-{{ row_id }}">
        {% autoescape off %}
          {% if parent_class == 'assay' %}
            {% render_cells row table parent assay_plugin %}
          {% else %}
            {% render_cells row table %}
          {% endif %}
        {% endautoescape %}
        {% if parent_class == 'assay' and not assay_plugin or assay_plugin.display_row_links %}
          {% get_irods_row_path parent table row assay_plugin as row_irods_path %}
          {% get_assay_list_url parent row_irods_path as assay_list_url %}
          <td class="bg-light omics-ss-data-cell-links" irods-path="{{ row_irods_path }}">
            {% include 'samplesheets/_irods_buttons.html' with investigation=investigation irods_path=row_irods_path list_url=assay_list_url data_table=True show_file_list=True %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
   </tbody>
</table>
