{% load samplesheets_tags %}
{% load rules %}
{% has_perm 'samplesheets.export_sheet' request.user project as can_export_sheet %}

<h4>
  {% if table_type == 'assay' %}Assay{% else %}Study{% endif %} Data
  <div class="input-group omics-header-input-group pull-right" table-id="{% get_table_id item %}">
    <div class="input-group-prepend">
      {% if table_type == 'assay' %}
      <button class="btn btn-secondary omics-ss-assay-hide"
              type="submit" id="omics-ss-assay-hide-{{ item.omics_uuid }}"
              data-toggle="tooltip" data-placement="top" title="Show/hide study details"
              assay-hide-mode="1"><i class="fa fa-eye-slash"></i></button>
      {% endif %}
      <button class="btn btn-secondary omics-ss-data-drag-toggle"
              type="submit" id="omics-ss-data-drag-toggle-{{ item.omics_uuid }}"
              data-toggle="tooltip" data-placement="top" title="Enable/disable drag scroll"
              drag-mode="0"><i class="fa fa-mouse-pointer"></i></button>
      {% if can_export_sheet %}
        <a role="button" class="btn btn-secondary omics-ss-data-excel"
           data-toggle="tooltip" data-placement="top" title="Download TSV file for Excel"
           id="omics-ss-data-excel-{{ item.omics_uuid }}"
          {% if table_type == 'assay' %}
            href="{% url 'samplesheets:export_tsv' assay=item.omics_uuid %}">
          {% else %}
            href="{% url 'samplesheets:export_tsv' study=item.omics_uuid %}">
          {% endif %}
            <i class="fa fa-file-excel-o"></i>
        </a>
      {% endif %}
    </div>
    <input class="form-control omics-ss-data-filter"
           type="text" placeholder="Filter" aria-label="Filter {{ table_type }} {{ item.omics_uuid }}"
           id="omics-ss-data-filter-{{ item.omics_uuid }}">
  </div>
</h4>
