{% load samplesheets_tags %}

<div class="card-body omics-card-body">
  <dl class="row omics-dl">
    <dt class="col-md-3">Title</dt>
    <dd class="col-md-9">{{ study.get_display_name }}</dd>
    <dt class="col-md-3">iRODS Repository</dt>
    <dd class="col-md-9">
      {% if investigation.irods_status %}
        <span class="text-success">Available</span>
      {% else %}
        <span class="text-danger">Not available</span>
      {% endif %}
    </dd>
    {% if study.description %}
      <dt class="col-md-3">Description</dt>
      <dd class="col-md-9">{{ study.description }}</dd>
    {% endif %}
    {% for comment_k, comment_v in study.comments.items %}
      {% if comment_v.value %}
        <dt class="col-md-3">{{ comment_k }}</dt>
        <dd class="col-md-9">{{ comment_v.value }}</dd>
      {% endif %}
    {% endfor %}
    {% if study.assays %}
      <dt class="col-md-3">Assays</dt>
      <dd class="col-md-9">
        {% for assay in study.assays.all %}
          <a href="#assay{{ assay.omics_uuid }}">{{ assay.get_display_name }}</a>
          {% if assay.comments %}
            <a class="omics-ss-assay-info-link" tabindex="0" data-toggle="popover"
               data-trigger="focus" data-placement="top" data-html="true"
               data-content="{% get_assay_info_html assay %}">
              <i class="fa fa-info-circle text-info"></i></a>
          {% endif %}
          <br />
        {% endfor %}
      </dd>
    {% endif %}
  </dl>
</div>
