{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}

{% load static %}
{% load rules %}
{% load samplesheets_tags %}

{% get_django_setting 'IRODS_WEBDAV_ENABLED' as irods_webdav_enabled %}

{% block title %}
  iRODS Access Tickets for {{ project.title }}
{% endblock title %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    table#sodar-ss-ticket-table thead tr th:nth-child(2),
    table#sodar-ss-ticket-table tbody tr td:nth-child(2) {
      width: 160px;
    }
    table#sodar-ss-ticket-table thead tr th:nth-child(3),
    table#sodar-ss-ticket-table tbody tr td:nth-child(3) {
      width: 180px;
    }
    table#sodar-ss-ticket-table thead tr th:nth-child(4),
    table#sodar-ss-ticket-table tbody tr td:nth-child(4) {
      width: 160px;
    }
    table#sodar-ss-ticket-table thead tr th:nth-child(5),
    table#sodar-ss-ticket-table tbody tr td:nth-child(5) {
      width: 120px;
    }
    table#sodar-ss-ticket-table thead tr th:nth-child(6),
    table#sodar-ss-ticket-table tbody tr td:nth-child(6) {
      width: 60px;
    }

    /* Responsive modifications */
    @media screen and (max-width: 1200px) {
      table#sodar-ss-ticket-table thead tr th:nth-child(4),
      table#sodar-ss-ticket-table tbody tr td:nth-child(4) {
        display: none;
      }
    }
    @media screen and (max-width: 1000px) {
      table#sodar-ss-ticket-table thead tr th:nth-child(2),
      table#sodar-ss-ticket-table tbody tr td:nth-child(2) {
        display: none;
      }
    }
    @media screen and (max-width: 800px) {
      table#sodar-ss-ticket-table thead tr th:nth-child(3),
      table#sodar-ss-ticket-table tbody tr td:nth-child(3) {
        display: none;
      }
    }
    @media screen and (max-width: 600px) {
      table#sodar-ss-ticket-table thead tr th:nth-child(4),
      table#sodar-ss-ticket-table tbody tr td:nth-child(4) {
        display: none;
      }
    }
  </style>
{% endblock css %}

{% block projectroles_extend %}

{% has_perm 'samplesheets.edit_tickets' request.user project as can_edit_tickets %}

<div class="row sodar-subtitle-container">
  <h3>iRODS Access Tickets</h3>
  <div class="ml-auto">
    <a href="{% url 'samplesheets:project_sheets' project=project.sodar_uuid %}"
       class="btn btn-secondary mr-1" role="button" id="sodar-ss-btn-back">
     <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Project Sheets
    </a>
    <a href="{% url 'samplesheets:irods_ticket_create' project=project.sodar_uuid %}"
       class="btn btn-primary" role="button" id="sodar-ss-btn-ticket-create"
       {% if not can_edit_tickets %}disabled="disabled"{% endif %}>
     <i class="iconify" data-icon="mdi:plus-thick"></i> Create Ticket
    </a>
  </div>
</div>

<div class="container-fluid sodar-page-container">

{% if object_list.count > 0 %}
  <div class="card" id="sodar-ss-ticket-list">
    <div class="card-body p-0">
      <table class="table table-striped sodar-card-table"
             id="sodar-ss-ticket-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Ticket</th>
            <th>User</th>
            <th>Created</th>
            <th>Expires</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in object_list %}
            <tr class="sodar-ss-ticket-item">
              <td class="nowrap sodar-ss-ticket-item-title">
                <a href="{{ ticket.get_webdav_link }}"
                   target="_blank"
                   class="{% if not ticket.is_active %}text-strikethrough{% endif %}">
                  {{ ticket.get_display_name }}
                </a>
                <button
                    role="submit"
                    class="btn btn-secondary sodar-list-btn sodar-copy-btn pull-right ml-1"
                    data-clipboard-text="{{ ticket.get_webdav_link }}"
                    data-tooltip="tooltip" data-placement="top"
                    title="Copy WebDAV URL into clipboard">
                  <i class="iconify" data-icon="mdi:clipboard-text-multiple"></i>
                </button>
              </td>
              <td class="nowrap
                         {% if not ticket.is_active %}text-strikethrough{% endif %}
                         sodar-ss-ticket-item-str">
                <code>{{ ticket.ticket }}</code>
              </td>
              {% if ticket.user %}
                <td>
                  {% get_user_html ticket.user as user_html %}{{ user_html | safe }}
                </td>
              {% else %}
                <td class="text-muted">N/A</td>
              {% endif %}
              <td class="nowrap">{{ ticket.get_date_created }}</td>
              <td class="nowrap
                        {% if not ticket.date_expires %}text-muted{% elif not ticket.is_active %}text-danger{% endif %}
                        sodar-ss-ticket-item-expiry">
                {% if not ticket.is_active %}
                  Expired
                {% elif ticket.date_expires %}
                  {{ ticket.get_date_expires }}
                {% else %}
                  Never
                {% endif %}
              </td>
              <td class="text-right">
                {% if can_edit_tickets %}
                  <button class="btn btn-secondary dropdown-toggle
                                 sodar-list-dropdown sodar-ss-ticket-dropdown"
                          type="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="iconify" data-icon="mdi:cog"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item"
                       href="{% url 'samplesheets:irods_ticket_update' irodsaccessticket=ticket.sodar_uuid %}">
                      <i class="iconify" data-icon="mdi:lead-pencil"></i> Update Ticket
                    </a>
                    <a class="dropdown-item text-danger"
                       href="{% url 'samplesheets:irods_ticket_delete' irodsaccessticket=ticket.sodar_uuid %}">
                      <i class="iconify" data-icon="mdi:close-thick"></i> Delete Ticket
                    </a>
                  </div>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% if is_paginated %}
    {% include 'projectroles/_pagination.html' with pg_small=False %}
  {% endif %}
{% else %}
  <div class="alert alert-info" id="sodar-ss-ticket-alert-empty">
    No iRODS access tickets available for this project.
  </div>
{% endif %}
</div>

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}
  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;
    tour.addStep('irods_ticket', {
        title: 'iRODS Access Tickets',
        text: 'In this view you can manage access tickets for iRODS ' +
              'collections in the project sample data repository. These ' +
              'tickets grant read-only access to collections without the ' +
              'need for logging in to iRODS. This is usable when e.g. ' +
              'integrating data from SODAR to external software.',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });
    tour.addStep('irods_ticket_warning', {
        title: 'iRODS Access Warning',
        text: 'WARNING: Anyone with the URL and network access to your iRODS ' +
              'server can access thes collections regardless of their ' +
              'project roles. Care should be taken in what is shared ' +
              'publicly and to whom tickets are provided.',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });
    if ($('#sodar-ss-ticket-list').length) {
        tour.addStep('irods_ticket_list', {
            title: 'iRODS Access Ticket List',
            text: 'This list displays the iRODS access tickets created for ' +
                  'this project.',
            attachTo: '#sodar-ss-ticket-list top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
    if ($('.sodar-ss-ticket-item-title').length) {
        tour.addStep('irods_ticket_title', {
            title: 'iRODS Access Ticket Title',
            text: 'The title of the ticket is displayed here. It consists of ' +
                  'the collection the ticket targets along with an optional ' +
                  'string identified or the ticket creation timestamp. The ' +
                  'title links to the anonymous ticket URL via WebDAV. The ' +
                  'column also includes a link for copying the URL into the ' +
                  'clipboard.',
            attachTo: '.sodar-ss-ticket-item-title top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
    if ($('.sodar-ss-ticket-item-str').length) {
        tour.addStep('irods_ticket_str', {
            title: 'iRODS Access Ticket String',
            text: 'The access ticket string is displayed here.',
            attachTo: '.sodar-ss-ticket-item-str top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
    if ($('.sodar-ss-ticket-item-expiry').length) {
        tour.addStep('irods_ticket_expiry', {
            title: 'iRODS Access Ticket Expiration',
            text: 'The expiration date is displayed here.',
            attachTo: '.sodar-ss-ticket-item-expiry top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
    if ($('.sodar-ss-ticket-dropdown').length) {
        tour.addStep('irods_ticket_dropdown', {
            title: 'iRODS Access Ticket Dropdown',
            text: 'From the dropdown associated with a ticket, you can ' +
                  'update or delete it.',
            attachTo: '.sodar-ss-ticket-dropdown left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
    tour.addStep('irods_ticket_create', {
        title: 'iRODS Access Ticket Creation',
        text: 'Click on this button to create a new access ticket. You will ' +
              'be taken to a form where you can set the ticket collection ' +
              'and optional expiration date.',
        attachTo: '#sodar-ss-btn-ticket-create left',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });
    tour.addStep('sheets_btn_back', {
        title: 'Back to Project Sample Sheets',
        text: 'Click on this button to return to the project sample sheets.',
        attachTo: '#sodar-ss-btn-back left',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });
  </script>
{% endblock javascript %}
