{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load samplesheets_tags %}
{% load projectroles_common_tags %}
{% load crispy_forms_filters %}

{% block title %}
  Accept iRODS Delete Request
{% endblock title %}

{% block projectroles_extend %}


<div class="container-fluid sodar-subtitle-container">
  <h3>Accept iRODS Delete Request</h3>
</div>

<div class="container-fluid sodar-page-container">
  {% if irods_request_data %}
    <div class="alert alert-danger">
      <strong>Warning:</strong> Accepting the request will delete the associated
      {% if irods_request.is_collection %}collection{% else %}data object{% endif %} from iRODS.
      This can <strong>not</strong> be undone without administrator assistance!
    </div>
    {% for irods_request in irods_request_data %}
      <div class="alert alert-danger">
        The following {% if irods_request.is_collection %}collection{% else %}data object{% endif %} will be deleted: <br />
        <code class="text-danger">{{ irods_request.obj.path }}</code>
        {% if irods_request.affected_objects %}
          <div class="mt-3 mb-0">
            The collection to be deleted contains the following data objects:
            <ul class="mb-0">
              {% for o in irods_request.affected_objects %}
                <li><code class="text-danger">{{ o.path|trim_base_path:irods_request.path }}</code></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if irods_request.affected_collections %}
          <div class="mt-3 mb-0">
            The collection to be deleted comprises the following subcollections:
            <ul class="mb-0">
              {% for o in irods_request.affected_collections %}
                <li><code class="text-danger">{{ o.path|trim_base_path:irods_request.path }}/</code></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      <div class="row">
        <div class="btn-group ml-auto">
          <a role="button" class="btn btn-secondary"
             href="{{ request.session.real_referer }}">
            <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
          </a>
          <button type="submit" class="btn btn-primary" id="sodar-ss-btn-delete-submit">
            <i class="iconify" data-icon="mdi:check-bold"></i> Accept
          </button>
        </div>
      </div>
    </form>
  {% else %}
    <div class="row">
      <div class="ml-auto btn-group">
        <a role="button" class="btn btn-secondary"
           href="{{ request.session.real_referer }}">
          <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
        </a>
      </div>
    </div>
    <div class="row">
      <div class="alert alert-danger">
        <strong>Error:</strong> No iRODS delete request found with the given UUID.
      </div>
    </div>
  {% endif %}
</div>
{% endblock projectroles_extend %}
