{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load samplesheets_tags %}
{% load projectroles_common_tags %}

{% block title %}
  Confirm iRODS Access Ticket Deletion
{% endblock title %}

{% block projectroles_extend %}

<div class="container-fluid sodar-subtitle-container">
  <h3>Confirm iRODS Access Ticket Deletion</h3>
</div>

<div class="container-fluid sodar-page-container">
  <div class="alert alert-warning" role="alert">
    <p>
      <strong>Warning:</strong> Are you sure you want to
      delete this iRODS access ticket?
      This can <strong>not</strong> be undone!
    </p>
    <p class="mb-0">
      The selected ticket was created on
      <strong>{{ object.date_created | date:'Y-m-d H:i:s' }}</strong>
      {% if object.user %}
        by user {% get_user_html object.user as user_html %}{{ user_html | safe }}
      {% endif %}
    </p>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="btn-group ml-auto">
        <a role="button" class="btn btn-secondary"
            href="{{ request.session.real_referer }}">
          <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
        </a>
        <button type="submit" class="btn btn-danger">
          <i class="iconify" data-icon="mdi:close-thick"></i> Delete
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock projectroles_extend %}
