{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}

{% load rules %}
{% load samplesheets_tags %}

{% block title %}
  Sample Sheets for {{ project.title }}
{% endblock title %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    .omics-ss-data-container {
      max-height: 600px;
      overflow-y: scroll;
    }

    .omics-ss-data-table thead tr th {
        white-space: nowrap;
        padding: 5px; /* Demo "Excel" mode */
    }

    .omics-ss-data-table tbody tr td {
        white-space: nowrap;
        padding: 5px; /* Demo "Excel" mode */
    }
  </style>
{% endblock css %}

{% block projectroles_extend %}

{% has_perm 'samplesheets.edit_sheet' request.user as can_edit_sheet %}

<div class="row omics-subtitle-container">
  <h3><i class="fa fa-file"></i> Sample Sheets</h3>
  {% if can_edit_sheet %}
    {% include 'samplesheets/_list_buttons.html' with project=project up=False %}
  {% endif %}
</div>

<div class="container-fluid"> {# Main container #}

  {% if not investigation %}

    <div class="alert alert-info" role="alert">
      No sample sheets are currently available for this project.
      {% if can_edit_sheet %}
        To add sample sheets, please import it from ab existing ISAtab investigation.
      {% endif %}
    </div>

  {% else %}

    {# Navigation #}
    <div class="mb-4">
      <ul class="nav nav-tabs">
        {% for s in investigation.studies.all %}
          <li class="nav-item">
            <a class="nav-link {% if s == study %}active{% endif %}" href="{% url 'project_sheets' project=project.pk study=s.pk %}">{% get_study_title s %}</a>
          </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link {% if subpage == 'info' %}active{% endif %}" href="{% url 'project_sheets' project=project.pk subpage='info' %}">General Information</a>
        </li>
      </ul>
    </div>

    {% if study %}

      {# Information #}
      <div class="card">
        <div class="card-header">
          <h4>Study Information: {% get_study_title study %}</h4>
        </div>
        {% include 'samplesheets/_study_info.html' %}
      </div>

      {# Study overview table #}
      <div class="card omics-ss-data-card" id="omics-ss-study{{ study.pk }}">
        <div class="card-header">
          <h4>Study Overview</h4>
        </div>
        <div class="card-body omics-card-body-table">
          <div class="table-responsive omics-ss-data-container">
            {% get_study_table study as study_table %}
            {% include 'samplesheets/_sheet_table.html' with table=study_table %}
          </div>
        </div>
      </div>

      {# Assay tables #}
      {% for assay in study.assays.all %}
        <div class="card omics-ss-data-card" id="omics-ss-assay{{ assay.pk }}">
          <div class="card-header">
            <h4>Assay {{ assay.file_name }}
              <div class="input-group omics-header-input-group pull-right">
                <div class="input-group-prepend">
                  <button class="btn btn-secondary omics-ss-assay-hide"
                          type="submit" id="omics-ss-assay-hide-{{ assay.pk }}"
                          assay-hide-mode="1"><i class="fa fa-eye-slash"></i> Toggle Study</button>
                </div>
                <input class="form-control"
                       type="text" placeholder="Filter" aria-label="Filter assay {{ assay.pk }}"
                       id="omics-ss-assay-filter-{{ assay.pk }}">
              </div>
            </h4>
          </div>
          <div class="card-body omics-card-body-table">
            <div class="table-responsive omics-ss-data-container">
              {% get_assay_table assay as assay_table %}
              {% include 'samplesheets/_sheet_table.html' with table=assay_table %}
            </div>
          </div>
        </div>
      {% endfor %}

    {% elif subpage == 'info' %}

      {# Information #}
      <div class="card">
        <div class="card-header">
          <h4>Investigation Information</h4>
        </div>
        {% include 'samplesheets/_investigation_info.html' with show_description=True %}
      </div>

      {# Statistics #}
      <div class="card">
        <div class="card-header">
          <h4>Investigation Statistics</h4>
        </div>
        <div class="card-body omics-card-body-table">
          <div class="table-responsive">
            <table class="table omics-card-table">
              <thead>
                <tr>
                  <th>Studies</th>
                  <th>Assays</th>
                  <th>Protocols</th>
                  <th>Processes</th>
                  <th>Sources</th>
                  <th>Materials</th>
                  <th>Samples</th>
                  <th>Data&nbsp;Files</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ sheet_stats.study_count }}</td>
                  <td>{{ sheet_stats.assay_count }}</td>
                  <td>{{ sheet_stats.protocol_count }}</td>
                  <td>{{ sheet_stats.process_count }}</td>
                  <td>{{ sheet_stats.source_count }}</td>
                  <td>{{ sheet_stats.material_count }}</td>
                  <td>{{ sheet_stats.sample_count }}</td>
                  <td>{{ sheet_stats.data_count }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    {% endif %}

  {% endif %}

</div> {# Main container #}

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript">
    $(document).ready(function() {
        // Study column hiding
        // TODO: Cleanup/refactor this

        // Hide study columns by default
         $('.omics-ss-data-table').find('.omics-ss-hideable-study').hide();
         $('.omics-ss-top-header').each(function () {
             if ($(this).attr('omics-ss-hideable-study-cols') !== '0') {
                var colspan = $(this).attr('colspan');
                var hideCols = $(this).attr('omics-ss-hideable-study-cols');
                $(this).attr('colspan', colspan - hideCols);
             }
         });

        // Hide/show study columns when clicked
        $('.omics-ss-assay-hide').click(function () {
            // Hide
            if ($(this).attr('assay-hide-mode') === '0') {
                $(this).find('i').removeClass('fa-eye');
                $(this).find('i').addClass('fa-eye-slash');
                $(this).closest('.omics-ss-data-card').find('.omics-ss-data-table').find('.omics-ss-hideable-study').hide();
                $(this).closest('.omics-ss-data-card').find('.omics-ss-data-table').find('.omics-ss-top-header').each(function () {
                    if ($(this).attr('omics-ss-hideable-study-cols') !== '0') {
                        var colspan = $(this).attr('colspan');
                        var hideCols = $(this).attr('omics-ss-hideable-study-cols');
                        $(this).attr('colspan', colspan - hideCols);
                    }
                });

                $(this).attr('assay-hide-mode', '1');
            }

            // Show
            else {
                $(this).find('i').removeClass('fa-eye-slash');
                $(this).find('i').addClass('fa-eye');
                $(this).closest('.omics-ss-data-card').find('.omics-ss-data-table').find('.omics-ss-hideable-study').show();
                $(this).closest('.omics-ss-data-card').find('.omics-ss-data-table').find('.omics-ss-top-header').each(function () {
                    if ($(this).attr('omics-ss-hideable-study-cols') !== '0') {
                        var originalCols = $(this).attr('original-colspan');
                        $(this).attr('colspan', originalCols);
                    }
                });

                $(this).attr('assay-hide-mode', '0');
            }
        });
    });
  </script>

  <!--
  <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
  -->

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = false;
  </script>
{% endblock javascript %}
