{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}

{% load rules %}
{% load samplesheets_tags %}

{% block title %}
  Sample Sheets for {{ project.title }}
{% endblock title %}

{% block projectroles_extend %}

{% has_perm 'samplesheets.edit_sheet' request.user as can_edit_sheet %}

<div class="row omics-subtitle-container">
  <h3><i class="fa fa-file"></i> Sample Sheets</h3>
  {% if can_edit_sheet %}
    {% include 'samplesheets/_list_buttons.html' with project=project up=False %}
  {% endif %}
</div>

{% if not investigation %}
  <div class="alert alert-info" role="alert">
    No sample sheets are currently available for this project.
    {% if can_edit_sheet %}
      To add sample sheets, please import it from an existing ISAtab or JSON file.
    {% endif %}
  </div>
{% else %}
  <div class="container-fluid">

    {# Information #}
    <div class="card">
      <div class="card-header">
        <h4>Investigation Information</h4>
      </div>
      {% include 'samplesheets/_sheet_info.html' with show_description=True %}
    </div>

    {# Statistics #}
    <div class="card">
      <div class="card-header">
        <h4>Investigation Statistics</h4>
      </div>
      <div class="card-body omics-card-body-table">
        <div class="table-responsive">
          <table class="table omics-card-table">
            <thead>
              <tr>
                <th>Studies</th>
                <th>Assays</th>
                <th>Protocols</th>
                <th>Processes</th>
                <th>Sources</th>
                <th>Materials</th>
                <th>Samples</th>
                <th>Data&nbsp;Files</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ sheet_stats.study_count }}</td>
                <td>{{ sheet_stats.assay_count }}</td>
                <td>{{ sheet_stats.protocol_count }}</td>
                <td>{{ sheet_stats.process_count }}</td>
                <td>{{ sheet_stats.source_count }}</td>
                <td>{{ sheet_stats.material_count }}</td>
                <td>{{ sheet_stats.sample_count }}</td>
                <td>{{ sheet_stats.data_count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% for assay in investigation.studies.first.assays.all %}
    <div class="card">
      <div class="card-header">
        <h4>Assay "{{ assay.file_name }}"</h4>
      </div>
      <div class="card-body omics-card-body-table">
        <div class="table-responsive">
        {% get_assay_data assay as assay_data %}

          <table class="table table-bordered omics-card-table-bordered">
            <thead>
              {# Top header #}
              <tr>
                <th class="bg-info text-white" colspan="{{ assay_data.top_header.sources.colspan }}">Sources</th>
                <th class="bg-warning text-white" colspan="{{ assay_data.top_header.samples.colspan }}">Samples</th>
                <th class="bg-success text-white" colspan="{{ assay_data.top_header.samples.colspan }}">Assay</th>
              </tr>
              {# Field header #}
              <tr>
                {% for header_title in assay_data.field_header %}
                  <th>{{ header_title }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {# Content #}
              {% for row in assay_data.assay_table %}
                <tr>
                  {% for col in row %}
                    {% autoescape off %}
                      {% render_sheet_column col %}
                    {% endautoescape %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
{% endif %}

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = false;
  </script>
{% endblock javascript %}
