{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}

{% load static %}
{% load rules %}
{% load samplesheets_tags %}

{% block title %}
  Sample Sheets for {{ project.title }}
{% endblock title %}

{% block css %}
  {{ block.super }}
  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/DataTables-1.10.16/integration/dataTables.fontAwesome.css' %}"/>

  <style type="text/css">
    /* Special version of the container for samplesheets */
    div.omics-subtitle-container {
      padding-top: 10px;
      padding-bottom: 8px;
      // border-bottom: 1px solid #dfdfdf;
    }

    .omics-ss-assay-info-popup {
      max-width: 800px;
    }

    a.omics-ss-anchor {
      display: block;
      position: relative;
      top: -75px;
      visibility: hidden;
    }

    .omics-ss-init-container {
      height: 470px;
    }

    .omics-ss-config-app-table-div {
      max-height: 300px;
    }

    .omics-ss-data-table {
      border: 0 !important;
      min-width: 100%;
    }

    .omics-ss-data-table thead tr th {
      white-space: nowrap;
      padding: 5px;
      border-top: 0;
      border-right: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
    }

    .omics-ss-data-table thead tr.omics-ss-header-row th {
      padding-right: 22px; /* Avoid covering sort icons */
    }

    .omics-ss-data-table tbody tr td {
      white-space: nowrap;
      padding: 5px;
      margin: 0 !important;
    }

    .omics-ss-data-table-configapp tbody tr td {
      vertical-align: top !important;
      white-space: normal !important;
    }

    .DTFC_LeftBodyLiner {
      overflow-x: hidden !important;
      overflow-y: hidden !important;
    }

    .DTFC_RightBodyLiner {
      overflow-x: hidden !important;
      overflow-y: hidden !important;
    }

    .DTFC_RightBodyWrapper {
      background-color: #ffffff;
    }

    .omics-ss-data-table tbody tr:last-child td {
      border-bottom: 0;
    }

    .omics-ss-data-table-study thead tr th:first-child {
      border-left: 0 !important;
    }

    .omics-ss-data-table-study thead tr th:last-child {
      border-right: 0 !important;
    }

    .omics-ss-data-table tbody tr td:first-child {
      border-left: 0 !important;
    }

    .omics-ss-data-table tbody tr td:last-child {
      border-right: 0 !important;
    }

    .DTFC_RightHeadBlocker {
        border-bottom: 1px solid #dfdfdf !important;
    }

    .DTFC_Cloned {
      border-left: 3px solid #dfdfdf !important;
      border-right: 1px solid #dfdfdf !important;
    }

    .omics-ss-data-links-header {
      border-right: 0 !important;
    }

    .DTFC_Cloned thead tr:first-child th {
      border-bottom: 0 !important;
    }

    .DTFC_Cloned tbody tr td:first-child {
      border-left: 3px solid #dfdfdf !important;
    }

    .omics-ss-data-links-header {
      border-left: 3px solid #dfdfdf !important;
    }

    .omics-ss-data-dropdown {
      margin-top: -3px !important; /* Force dropdown position */
      padding-top: 2px !important;
      height: 1.75em;
    }

    @media screen and (max-width: 1200px) {
      .omics-ss-nav {
        display: none;
      }
    }

  </style>
{% endblock css %}

{% block projectroles_extend %}
{% has_perm 'samplesheets.edit_sheet' request.user project as can_edit_sheet %}

{% include 'samplesheets/_sheet_page_header.html' %}

<div class="container-fluid omics-page-container"> {# Main container #}

  {% if not investigation %}

    <div class="alert alert-info" role="alert" id="omics-ss-alert-no-sheets">
      No sample sheets are currently available for this project.
      {% if can_edit_sheet %}
        To add sample sheets, please import it from ab existing ISAtab investigation.
      {% endif %}
    </div>

  {% else %}

    {% if render_error %}

      <div class="alert alert-danger" role="alert" id="omics-ss-alert-render-error">
        Error rendering sample sheets, please check your ISAtab files. Exception:
        {{ render_error|truncatechars:512 }}
      </div>

    {% elif table_data.study %}

      {# Details #}
      <div class="card">
        <div class="card-header">
          <h4>Study Details</h4>
        </div>
        {% include 'samplesheets/_study_info.html' %}
      </div>

      {# Study app #}
      {% get_study_plugin study as study_plugin %}
      {% if study_plugin %}
        {% include study_plugin.study_template %}
      {% endif %}

      {# Study table #}
      <a class="omics-ss-anchor" id="{{ study.omics_uuid }}"></a>
      <div class="card omics-ss-data-card omics-ss-data-card-study">
        <div class="card-header">
          {% include 'samplesheets/_sheet_table_header.html' with table_type='study' item=study content_plugin=study_plugin %}
        </div>
        <div class="card-body omics-card-body-table">
          <div class="table-responsive omics-ss-init-container">
            {% include 'samplesheets/_sheet_table.html' with table=table_data.study parent=study %}
          </div>
        </div>
      </div>

      {# Assay tables #}
      {% for assay in study.assays.all %}
        {# Get assay app plugin #}
        {% get_assay_plugin assay as assay_plugin %}

        <a class="omics-ss-anchor" id="{{ assay.omics_uuid }}"></a>
        <div class="card omics-ss-data-card omics-ss-data-card-assay">
          <div class="card-header">
            {% include 'samplesheets/_sheet_table_header.html' with table_type='assay' item=assay content_plugin=assay_plugin %}
          </div>
          <div class="card-body omics-card-body-table">
            <div class="table-responsive omics-ss-init-container">
              {% get_assay_table table_data assay as assay_table %}
              {% include 'samplesheets/_sheet_table.html' with table=assay_table parent=assay %}
            </div>
          </div>
        </div>
      {% endfor %}

    {% endif %}

  {% endif %}

</div> {# Main container #}

<span class="omics-popup-overlay" id="omics-ss-popup-list" list-url="" row-id=""></span>
<span class="omics-popup-overlay" id="omics-ss-popup-cmd" irods-path="" row-id=""></span>

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}

  <!-- DataTables -->
  <script type="text/javascript" src="{% static 'datatables/datatables.min.js'%}"></script>

  <!-- Dragscroll for tables -->
  <script type="text/javascript" src="{% static 'js/dragscroll.js' %}"></script>

  <!-- Clipboard helper -->
  <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {

        /*********************
         Initialize DataTables
         *********************/
        $('.omics-ss-data-table-study').DataTable({
            scrollY: 400,
            scrollX: true,
            paging: false,
            scrollCollapse: true,
            info: false,
            fixedColumns: {
                leftColumns: 0,
                rightColumns: 0
            },
            dom: 't' // Disable toolbar
        });

        $('.omics-ss-data-table-assay').DataTable({
            scrollY: 400,
            scrollX: true,
            paging: false,
            scrollCollapse: true,
            info: false,
            fixedColumns: {
                leftColumns: 0,
                rightColumns: 1
            },
            columnDefs: [
                {
                    // Disable sorting from links column
                    targets: [
                        'omics-ss-data-cell-links',
                        'omics-ss-data-links-header'],
                    orderable: false
                },
                {
                    targets: 'omics-ss-hideable-study',
                    visible: false
                }
                ],
            dom: 't' // Disable toolbar
        });

        // Once initialized, remove temporary init classes
        $('.omics-ss-init-container').removeClass('table-responsive').removeClass('omics-ss-init-container');

        /*************************
         Enable/disable dragscroll
         *************************/
        $('.omics-ss-data-drag-toggle').click(function() {
            if ($(this).attr('drag-mode') === '0') {
                $(this).find('i').addClass('text-warning');
                $(this).attr('drag-mode', '1');
                $(this).closest('.omics-ss-data-card').find('.dataTables_scrollBody').addClass('dragscroll');
                dragscroll.reset();
            }

            else {
                $(this).find('i').removeClass('text-warning');
                $(this).attr('drag-mode', '0');
                $(this).closest('.omics-ss-data-card').find('.dataTables_scrollBody').removeClass('dragscroll');
                dragscroll.reset();
            }
        });

        /*********
         Filtering
         *********/

        $('.omics-ss-data-filter').keyup(function () {
            var tableId = $(this).closest('.input-group').attr('table-id');
            var dt = $('#' + tableId).dataTable();
            var v = $(this).val();
            dt.fnFilter(v);
        });

        /*******************
         Study column hiding
         *******************/

        // Hide/show study columns when clicked
        $('.omics-ss-assay-hide').click(function () {
            var tableId = $(this).closest('.input-group').attr('table-id');
            var dt = $('#' + tableId).DataTable();

            // Hide
            if ($(this).attr('assay-hide-mode') === '0') {
                $(this).find('i').removeClass('fa-eye').addClass('fa-eye-slash').removeClass('text-warning');
                dt.columns('.omics-ss-hideable-study').visible(false);
                $(this).attr('assay-hide-mode', '1');
            }

            // Show
            else {
                $(this).find('i').removeClass('fa-eye-slash').addClass('fa-eye').addClass('text-warning');
                dt.columns('.omics-ss-hideable-study').visible(true);
                $(this).attr('assay-hide-mode', '0');
            }
        });

        /**************
         Init clipboard
        **************/
        new ClipboardJS('.omics-copy-btn');

        /***************
         Link list Popup
         ***************/
        $('#omics-ss-popup-list').popup({
            transition: 'all 0.2s',
            beforeopen: function () {
                var listUrl = $(this).attr('list-url');
                var htmlHeader = '<div class="card"><div class="card-body"><h5>Files in iRODS</h5><hr />';
                var htmlFooter = '</div></div>';
                var htmlData = '';

                console.log('listUrl=' + listUrl);  // DEBUG

                $.ajax({
                    url: listUrl,
                    method: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    if (data['data_objects'].length > 0) {
                        // TODO: temporary HACK
                        var pathRootDepth = 7;

                        if (listUrl.indexOf('assay') !== -1) {
                            pathRootDepth = 8;
                        }

                        htmlData = '<table class="table omics-card-table table-striped omics-irods-obj-table">';
                        htmlData += '<thead><th>File</th><th>Size</th><th>Modified</th><th>MD5</th></thead><tbody>';

                        $.each(data['data_objects'], function (i, obj) {
                            var objNameSplit = obj['path'].split('/');
                            var objLink = '<a href="{{ irods_webdav_url }}' + obj['path'] + '"><span class="text-muted">';
                            objLink += objNameSplit.slice(pathRootDepth, objNameSplit.length - 1).join('/');
                            objLink += '/</span>' + obj['name'] + '</a>';
                            htmlData += '<tr><td>' + objLink + '</td>';
                            htmlData += '<td>' + humanFileSize(obj['size'], true) + '</td>';
                            htmlData += '<td>' + obj['modify_time'] + '</td>';
                            htmlData += '<td>';

                            if (obj['md5_file'] === true) {
                                htmlData += '<span class="text-success"><i class="fa fa-check"></i></span>';
                            }

                            else {
                                htmlData += '<span class="text-danger"><i class="fa fa-close"></i></span>';
                            }

                            htmlData += '</td></tr>';
                        });
                    }

                    else {
                        htmlData = popupNoFilesHtml;
                    }

                    // Set success html
                    $('#omics-ss-popup-list').html(htmlHeader + htmlData + htmlFooter);
                }).fail(function (response) {
                    $('#omics-ss-popup-list').html(htmlHeader +
                        '<span class="text-danger font-italic">Failed to query data (' +
                        response.status + ': ' + response.responseText + ')</span>' + htmlFooter);
                });

                // Set default loading html
                $(this).html(popupWaitHtml);
            }
        });

        $('.omics-ss-popup-list-btn').click(function() {
            $('#omics-ss-popup-list').attr(
                'list-url', $(this).attr('list-url')).popup('show');
        });

        /**************
         iCommand Popup
         **************/
        // TODO: Unify this with the landingzones iCommand popup
        // TODO: Set width
        $('#omics-ss-popup-cmd').popup({
            transition: 'all 0.2s',
            beforeopen: function () {
                var irodsPath = $(this).attr('irods-path');
                var htmlHeader = '<div class="card"><div class="card-body"><h5>iRODS iCommands Access</h5><hr />';
                var htmlFooter = '</div></div>';
                var htmlData = '<div class="input-group">' +
                    '<input id="omics-copy-field" class="form-control omics-code-input" type="text" value="icd ' + irodsPath + '" readonly/>' +
                    '<div class="input-group-append">' +
                    '<button class="btn btn-secondary omics-copy-btn" role="submit" data-clipboard-target="#omics-copy-field"><i class="fa fa-clipboard"></i> Copy</button></div>' +
                    '</div>';

                // Set html
                $('#omics-ss-popup-cmd').html(htmlHeader + htmlData + htmlFooter);
            }
        });

        $('.omics-ss-popup-cmd-btn').click(function() {
            var irodsPath = $(this).closest('td').attr('irods-path');
            $('#omics-ss-popup-cmd').attr(
                'irods-path', irodsPath).popup('show');
        });
    });
  </script>

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('sheet_info', {
        title: 'Sample Sheets',
        text: 'In this app you are able to access meta data regarding ' +
              'project samples, along with links to sample file mass storage ' +
              'in iRODS.',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    // No sheets
    if ($('#omics-ss-alert-no-sheets').length) {
        tour.addStep('no_sheets', {
            title: 'No Sample Sheets Available',
            text: 'No sample sheets have been imported for the project. ' +
                  'Users with sufficient permissions can import an ISA ' +
                  'investigation using the Sheet Operations menu.',
            attachTo: '#omics-ss-buttons-op left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    // Sheets available
    else {
        tour.addStep('sheet_isa', {
            title: 'ISA Model',
            text: 'Sample data is represented according to the ISA ' +
                  '(Investigation/Study/Assay) specification. One project is ' +
                  'expected to contain one investigation, which contains one ' +
                  'or more studies, which in turn can consist of one or more ' +
                  'assays. One study and its assays are visualized per page ' +
                  'in this application.',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        tour.addStep('sheet_navigation', {
            title: 'Sample Sheet Navigation',
            text: 'Navigate between studies and data overview using this ' +
                  'navigation bar.',
            attachTo: '.omics-subtitle-container bottom',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        tour.addStep('sheet_navigation_dropdown', {
            title: 'Sample Sheet Shortcuts',
            text: 'Shortcuts to project studies and assays can be accessed ' +
                  'in this dropdown menu.',
            attachTo: '#omics-ss-nav-dropdown bottom',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        if ($('#omics-ss-buttons-op').length) {
            tour.addStep('sheet_operations', {
                title: 'Sheet Operations',
                text: 'Authorized users can perform sheet-wide operations ' +
                      'such as iRODS directory creation in this menu.',
                attachTo: '#omics-ss-buttons-op left',
                advanceOn: '.docs-link click',
                showCancelLink: true
            });
        }
    }

    if ($('.omics-ss-data-card').length) {
        tour.addStep('study_data', {
            title: 'Study Data',
            text: 'This is a data table listing all the sources and samples ' +
                  'in the currently selected study.',
            attachTo: '.omics-ss-data-card-study top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        tour.addStep('assay_data', {
            title: 'Assay Data',
            text: 'Assay-specific processed and materials are described in ' +
                  'assay tables.',
            attachTo: '.omics-ss-data-card-assay top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        tour.addStep('data_controls', {
            title: 'Data Table Controls',
            text: 'Access data table controls in the table header.',
            attachTo: '.omics-header-input-group top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        tour.addStep('data_links', {
            title: 'iRODS Links',
            text: 'Links to sample data files in iRODS can be accessed in ' +
                  'this column. Note that an authorized user must first ' +
                  'create the iRODS directories for the project for these ' +
                  'controls to be enabled. Uploading new data is done using ' +
                  'the Landing Zones app.',
            attachTo: '.omics-ss-popup-list-btn left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

  </script>
{% endblock javascript %}
