{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load crispy_forms_filters %}

{% block title %}
  {% if replace_sheets %}
    Replace Current Sample Sheets with ISA-Tab
  {% else %}
    Import Sample Sheets from ISA-Tab
  {% endif %}
  into {{ project.title }}
{% endblock title %}

{% block css %}
  {{ block.super }}
  {# Workaround for django-db-file-storage Bootstrap4 issue (sodar_core#164) #}
  <style type="text/css">
    div#div_id_file_upload div p.invalid-feedback {
      display: block;
    }
  </style>
{% endblock css %}

{% block projectroles_extend %}

<div class="container-fluid sodar-subtitle-container">
  <h3>
    {% if replace_sheets %}
      Replace Current Sample Sheets with ISA-Tab
    {% else %}
      Import Sample Sheets from ISA-Tab
    {% endif %}
  </h3>
</div>

<div class="container-fluid sodar-page-container">
  <div class="alert alert-info">
    Please select an ISA-Tab zip archive or individual files for sample sheet
    import.
    {% if not replace_sheets %}
      Alternatively, you can
      <a href="{% url 'samplesheets:template_select' project=project.sodar_uuid %}">
      create sample sheets from a template here</a>.
    {% endif %}
  </div>
  {% if replace_sheets and irods_status and not zones_exist %}
    <div class="alert alert-warning">
      <strong>Warning:</strong> Because iRODS collections have already been
      created, replacing the ISA-Tab will only be accepted if studies and assays
      have not been removed. Adding new studies or assays or modifying content
      within existing studies and assays is accepted.
    </div>
    <div class="alert alert-warning">
      <strong>Note:</strong> If you have added new studies or assays, you must
      select <strong>Update iRODS Collections</strong> from the Zone Operations
      menu after replace has completed.
    </div>
    <div class="alert alert-danger">
      <p>
        <strong>Warning:</strong> Please note that at the moment we do not
        automatically move iRODS files according to changes in replaced sample
        sheets.
      </p>
      <p>
        <strong>This means that iRODS links to existing files will no longer work
        if you change any of the following:</strong>
      </p>
      <ul class="mb-0">
        <li>Study identifier field</li>
        <li>Names of sources, samples and/or libraries associated with existing files</li>
        <li>File name of an existing assay</li>
      </ul>
    </div>
  {% elif replace_sheets and zones_exist %}
    <div class="alert alert-danger">
      <strong>Error:</strong> Active landing zones currently exist for the
      project. Replacing sample sheets is not allowed. Please make sure all
      landing zones in the project are finished or deleted and try again.
    </div>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% if not replace_sheets or not zones_exist %}
      {% csrf_token %}
      {{ form | crispy }}
    {% endif %}

    <div class="row">
      <div class="btn-group ml-auto">
        <a role="button" class="btn btn-secondary"
           href="{% url 'samplesheets:project_sheets' project=project.sodar_uuid %}">
          <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
        </a>
        {% if replace_sheets and not zones_exist %}
          <button type="submit" class="btn btn-primary" id="sodar-ss-btn-import-submit">
            <i class="iconify" data-icon="mdi:refresh"></i> Replace
          </button>
        {% elif not replace_sheets %}
          <button type="submit" class="btn btn-primary" id="sodar-ss-btn-import-submit">
            <i class="iconify" data-icon="mdi:upload"></i> Import
          </button>
        {% endif %}
      </div>
    </div>
  </form>
</div>

{% endblock projectroles_extend %}
