{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}

{% load static %}
{% load rules %}
{% load samplesheets_tags %}

{% block title %}
  Sample Sheet Versions for {{ project.title }}
{% endblock title %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    table#sodar-ss-version-table thead tr th:nth-child(1),
    table#sodar-ss-version-table tbody tr td:nth-child(1) {
      white-space: nowrap;
    }

    table#sodar-ss-version-table thead tr th:nth-child(5),
    table#sodar-ss-version-table tbody tr td:nth-child(5) {
      width: 75px;
    }
  </style>
{% endblock css %}

{% block projectroles_extend %}
{% has_perm 'samplesheets.manage_sheet' request.user project as can_manage_sheet %}

<form class="form-inline" action="{% url 'samplesheets:version_compare' project=project.sodar_uuid %}" method="GET">
  <div class="row sodar-subtitle-container w-100">
    <h3>Sample Sheet Versions</h3>
    <div class="input-group ml-auto">
      {{ sheet_select_form.source }}
      {{ sheet_select_form.target }}
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary" id="sodar-ss-btn-import-submit">
          Compare
        </button>
      </div>
    </div>
    <a href="{% url 'samplesheets:project_sheets' project=project.sodar_uuid %}"
       class="btn btn-secondary ml-2" role="button">
      <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Project Sheets
    </a>
  </div>
</form>

<div class="container-fluid sodar-page-container">

{% if object_list.count > 0 %}
  <div class="card" id="sodar-ss-version-list">
    <div class="card-body p-0">
      <table class="table table-striped sodar-card-table" id="sodar-ss-version-table">
        <thead>
          <tr>
            <th>Version</th>
            <th>User</th>
            <th>Tags</th>
            <th>Parser</th>
            {% if can_manage_sheet %}
              <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for sv in object_list %}
            <tr>
              <td>
                {% if sv == current_version %}
                  <strong>
                {% endif %}
                <a href="{% url 'samplesheets:export_isa' isatab=sv.sodar_uuid %}">{{ sv.date_created | date:'Y-m-d H:i:s' }}</a>
                {% if sv == current_version %}
                  </strong>
                  <span class="badge badge-pill badge-success ml-1">Most Recent</span>
                {% endif %}
              </td>
              {% if sv.user %}
                <td>
                  {% get_user_html sv.user as user_html %}{{ user_html | safe }}
                </td>
              {% else %}
                <td class="text-muted">N/A</td>
              {% endif %}
              <td>
                {% get_isatab_tag_html sv as tag_html %}{{ tag_html | safe }}
              </td>
              <td>{{ sv.parser_version }}</td>
              {% if can_manage_sheet %}
                <td>
                  <div class="btn-group sodar-list-btn-group sodar-ss-version-btn-group"
                       id="sodar-ss-version-btn-group-{{ sv.sodar_uuid }}">
                    <button class="btn btn-secondary dropdown-toggle sodar-list-dropdown"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                      <i class="iconify" data-icon="mdi:cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item"
                         href="{% url 'samplesheets:export_isa' isatab=sv.sodar_uuid %}">
                        <i class="iconify" data-icon="mdi:download"></i> Export Version
                      </a>
                      <a class="dropdown-item" href="{% url 'samplesheets:version_restore' isatab=sv.sodar_uuid %}">
                        <i class="iconify" data-icon="mdi:refresh"></i> Restore Version
                      </a>
                      <a class="dropdown-item text-danger" href="{% url 'samplesheets:version_delete' isatab=sv.sodar_uuid %}">
                        <i class="iconify" data-icon="mdi:close-thick"></i> Delete Version
                      </a>
                    </div>
                  </div>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% if is_paginated %}
    {% include 'projectroles/_pagination.html' with pg_small=False %}
  {% endif %}
{% else %}
  <div class="alert alert-info" id="sodar-ss-version-alert">
    No saved versions have been found for the sample sheets in this project.
  </div>
{% endif %}

</div>

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = false;
    // TODO: Tour
  </script>

{% endblock javascript %}
