{# Samplesheets dependency #}
{% load samplesheets_tags %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{% load samplesheets_study_cancer_tags %}
{% find_sequencing_assays study as seq_assays_found %}

{% if seq_assays_found %}
  <div class="card">
    <div class="card-header">
      <h4>
        Case-Wise iRODS and IGV Shortcuts

        <div class="input-group sodar-header-input-group pull-right" table-id="sodar-ss-cancer-table">
        <input class="form-control sodar-ss-data-filter"
             type="text" placeholder="Filter" aria-label="Filter Pedigree Data"
             id="sodar-ss-cancer-filter">
        </div>
      </h4>
    </div>
    {% if investigation.irods_status %}
      <div class="card-body p-0 sodar-ss-contentapp-container">
        <div class="table-responsive sodar-ss-init-container">
          <table class="table cell-border order-column sodar-ss-data-table sodar-ss-data-table-contentapp" id="sodar-ss-cancer-table">
            <thead>
              <tr>
                <th>Case</th>
                <th>BAM files</th>
                <th>VCF files</th>
                <th>IGV session file</th>
              </tr>
            </thead>
            <tbody>
              {% for source in study.get_sources %}
                <tr>
                  <td>{{ source.name }}</td>
                  <td>
                    {# BAM files #}
                    {% for sample in source.get_samples %}
                      {% get_sample_libraries sample table_data as sample_libraries %}
                      {% for library in sample_libraries %}
                        {% url 'samplesheets.studyapps.cancer:file' file_type='bam' genericmaterial=library.sodar_uuid as bam_url %}
                        <div class="btn-group sodar-list-btn-group mb-1 mr-1">
                          <button class="btn sodar-list-btn btn-outline-secondary text-body" disabled>
                            {{ library.name }}
                          </button>
                          <a role="button" class="btn sodar-list-btn btn-secondary disabled"
                             href="{{ bam_url }}" title="Download {{ library.name }} BAM file">
                            <i class="fa fa-download"></i> Download
                          </a>
                        </div>
                      {% endfor %}
                    {% endfor %}
                  </td>
                  <td>
                    {# VCF files #}
                    {% for sample in source.get_samples %}
                      {% get_sample_libraries sample table_data as sample_libraries %}

                      {% for library in sample_libraries %}
                        {% url 'samplesheets.studyapps.cancer:file' file_type='vcf' genericmaterial=library.sodar_uuid as vcf_url %}
                        <div class="btn-group sodar-list-btn-group mb-1 mr-1">
                          <button class="btn sodar-list-btn btn-outline-secondary text-body" disabled>
                            {{ library.name }}
                          </button>
                          <a role="button" class="btn sodar-list-btn btn-secondary disabled"
                             href="{{ vcf_url }}" title="Download {{ library.name }} VCF file">
                            <i class="fa fa-download"></i> Download
                          </a>
                        </div>
                      {% endfor %}
                    {% endfor %}
                  </td>
                  <td>
                    {% url 'samplesheets.studyapps.cancer:igv' genericmaterial=source.sodar_uuid as igv_url %}
                    <div class="btn-group sodar-list-btn-group">
                      <a role="button" class="btn sodar-list-btn sodar-igv-btn btn-secondary disabled"
                         href="{{ igv_url }}" title="Download IGV session file for case">
                        <i class="fa fa-download"></i> Download
                      </a>
                      <!-- TODO: (1) not full URL, (2) configure genome build in project config, (3) get port from user profile -->
                      <button type="button" class="btn sodar-list-btn sodar-igv-btn btn-secondary"
                         onclick="javascript:$.ajax({url: 'http://127.0.0.1:60151/load?genome=b37&merge=false&file=https://cubi-omics-davrods-beta.bihealth.org/__sodar{{ igv_url }}.xml'})"
                         title="Open IGV session file for case in IGV" disabled>
                        <i class="fa fa-share-square-o"></i> IGV
                      </button>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <div class="card-body text-center">
      <p class="font-italic">
        iRODS directories not created, file listing disabled
      </p>
      </div>
    {% endif %}
  </div>
{% endif %}
