{% extends "projectroles/base.html" %}
{% load rules %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{% block title %}iRODS Info{% endblock title %}

{% block projectroles %}

{% has_perm 'irodsinfo.get_config' request.user as can_get_config %}
{% site_version as site_v %}

<div class="row sodar-subtitle-container bg-white sticky-top">
  <h2><i class="iconify" data-icon="mdi:lifebuoy"></i> iRODS Info</h2>

  {% if can_get_config %}
  <a role="button" class="btn btn-primary ml-auto"
     href="{% url 'irodsinfo:config' %}">
    <i class="iconify" data-icon="mdi:download"></i> Download Configuration
  </a>
  {% endif %}
</div>

<div class="container-fluid sodar-page-container">

  {# Guide #}
  <div class="alert alert-info">
    For instructions on connecting to iRODS, see the
    <a href="https://sodar-server.readthedocs.io/en/{% if '+' in site_v %}dev{% else %}latest{% endif %}/data_transfer_irods.html">
      SODAR Manual</a>.
  </div>

  {% if request.user.get_auth_type == 'OIDC' %}
    <div class="alert alert-warning" id="sodar-ii-alert-oidc">
      <strong>Important:</strong> You are authenticating with SODAR using OIDC
      single sign-on. This means you need to provide a SODAR API token as your
      password for iRODS and Davrods logins. You can create a token using
      the <a href="{% url 'tokens:list' %}">API Tokens app</a>.
    </div>
  {% endif %}

  {# Server info #}
  <div class="card">
    <div class="card-header">
      <h4><i class="iconify" data-icon="mdi:database"></i> iRODS Server</h4>
    </div>
    <div class="card-body">
      {% if server_info %}
        <dl class="row">
          <dt class="col-md-2">Status</dt>
          <dd class="col-md-10">
            <span class="badge badge-pill badge-{% if server_info.server_ok %}success{% else %}danger{% endif %}">
              {{ server_info.server_status }}
            </span>
          </dd>
          <dt class="col-md-2">Host</dt>
          <dd class="col-md-10">{{ server_info.server_host }}</dd>
          <dt class="col-md-2">Port</dt>
          <dd class="col-md-10">{{ server_info.server_port }}</dd>
          <dt class="col-md-2">Zone</dt>
          <dd class="col-md-10">{{ server_info.server_zone }}</dd>
          <dt class="col-md-2">Version</dt>
          {% if server_info.server_version %}
            <dd class="col-md-10">{{ server_info.server_version }}</dd>
          {% else %}
            <dd class="col-md-10 text-muted">Unknown</dd>
          {% endif %}
        </dl>
      {% elif not irods_backend_enabled %}
        <p class="text-danger">iRODS backend not enabled!</p>
      {% else %}
        <p class="text-danger">Unknown error</p>
      {% endif %}
    </div>
  </div>

</div>

{% endblock projectroles %}
