{% load rules %}

<div class="btn-group omics-edit-button-group omics-pr-btn-grp-role" role="group" id="omics-pr-btn-grp-role-{{ assignment_id }}">
  <button class="btn btn-secondary dropdown-toggle btn-sm omics-edit-dropdown"
      type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cog"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'role_update' project=project.pk pk=assignment_id %}">
      <i class="fa fa-pencil"></i>
      Update Role
    </a>
    <a class="dropdown-item" href="{% url 'role_delete' project=project.pk pk=assignment_id %}">
      <i class="fa fa-user-times"></i>
      Remove Role
    </a>
  </div>
</div>
