{% load rules %}
{% load projectroles_tags %}

<tr class="omics-pr-project-list-item omics-pr-home-display-filtered" id="omics-pr-project-search-item-{{ p.pk }}">
  <td orig-txt="{{ p.get_full_title }}">
    {% if p.type == 'CATEGORY' %}
      <i class="fa fa-fw fa-cubes"></i>
    {% else %}
      <i class="fa fa-fw fa-cube"></i>
    {% endif %}
    <a href="{% url 'project_detail' pk=p.pk %}">
      {% autoescape off %}
        {% get_project_title_html p %}
      {% endautoescape %}
    </a>
  </td>
  <td orig-txt="{% get_description p %}">
    {% get_description p %}
  </td>
  <td>
    {% autoescape off %}
      {% get_user_role_str p request.user %}
    {% endautoescape %}
  </td>
</tr>
