{% load rules %}
{% load projectroles_tags %}

{% has_perm 'projectroles.view_project' request.user project as can_view_project %}
{% has_perm 'projectroles.view_project_roles' request.user project as can_view_roles %}
{% has_perm 'projectroles.update_project' request.user project as can_update_project %}
{% has_perm 'projectroles.update_project_settings' request.user project as can_update_settings %}

{% omics_constant 'PROJECT_TYPE_CATEGORY' as PROJECT_TYPE_CATEGORY %}

<div class="row omics-pr-content-title">
  {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
  <div class="btn-group omics-pr-project-menu-btn-group pull-left" role="group" id="omics-pr-btn-res-menu">
    <button class="btn btn-secondary dropdown-toggle btn-sm omics-edit-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu">

       {# App plugins #}
      {% if project.type != PROJECT_TYPE_CATEGORY %}
        {% for plugin in app_plugins %}
          {% has_perm plugin.app_permission request.user project as can_view_app %}
          {% if can_view_app %}
            <a class="dropdown-item"
               href="{% url plugin.entry_point_url_id project=project.pk %}"
               title="{{ plugin.title }}"
               id="omics-pr-res-link-app-plugin-{{ plugin.name }}">
               <i class="fa fa-{{ plugin.icon }}"></i>
              {{ plugin.title }}
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}

      {# Role and project editing #}
      {% if project.type != PROJECT_TYPE_CATEGORY and can_view_roles %}
        <a class="dropdown-item"
            href="{% url 'project_roles' pk=project.pk %}"
            title="User Roles"
            id="omics-pr-res-link-project-roles">
          <i class="fa fa-users"></i>
          Project Members
        </a>
      {% endif %}
      {% if project.type != PROJECT_TYPE_CATEGORY and can_update_settings %}
        <a class="dropdown-item"
            href="{% url 'settings_update' project=project.pk %}"
            title="Project Settings"
            id="omics-pr-res-link-project-settings">
          <i class="fa fa-wrench"></i>
          {% get_project_type_str project %} Settings
        </a>
      {% endif %}
      {% if can_update_project %}
        <a class="dropdown-item"
            href="{% url 'project_update' pk=project.pk %}"
            title="Update Project"
            id="omics-pr-res-link-project-update">
          <i class="fa fa-pencil"></i>
          Update {% get_project_type_str project %}
        </a>
     {% endif %}

   </div>
  </div>
  <h2 class="omics-pr-content-title">{{ project.title }}
  </h2>
  <div class="omics-pr-content-title-secondary text-muted">
    {{ project.description }}
  </div>

  {# Project starring/unstarring #}

  <div class="ml-auto">
    <form action="{% url 'project_star' pk=project.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" role="link" class="btn btn-link omics-pr-btn-star"
         id="omics-pr-link-project-star"
         title="Star {% get_project_type_str project %}"
         data-toggle="tooltip" data-placement="left">
        {% if project_starred %}
          <i class="fa fa-star fa-2x text-warning"></i>
        {% else %}
          <i class="fa fa-star-o fa-2x text-muted"></i>
        {% endif %}
      </button>
    </form>
  </div>

</div>
