{% load rules %}
{% load projectroles_tags %}

{% has_perm 'projectroles.view_project' request.user project as can_view_project %}
{% has_perm 'projectroles.view_project_roles' request.user project as can_view_roles %}
{% has_perm 'projectroles.update_project' request.user project as can_update_project %}
{% has_perm 'projectroles.update_project_settings' request.user project as can_update_settings %}

{% omics_constant 'PROJECT_TYPE_CATEGORY' as PROJECT_TYPE_CATEGORY %}

  <nav class="nav navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="omics-pr-sidebar-navbar">
      <ul class="navbar-nav flex-column omics-pr-sidebar-nav">

        {# Overview #}
        <li id="omics-pr-nav-project-detail" class="nav-item {% get_link_state projectroles_urls request.resolver_match.url_name 'project_detail' %}">
          <a class="nav-link omics-pr-sidebar-nav-link"
             href="{% url 'project_detail' pk=project.pk %}"
             id="omics-pr-link-project-detail">
            {% if project.type == PROJECT_TYPE_CATEGORY %}
              <i class="fa fa-cubes"></i>
            {% else %}
              <i class="fa fa-cube"></i>
            {% endif %}
            <br />{% get_project_type_str project %} Overview
          </a>
        </li>

        {# App plugins #}
        {% if project.type != PROJECT_TYPE_CATEGORY %}
          {% for plugin in app_plugins %}
            {% has_perm plugin.app_permission request.user project as can_view_app %}
            {% if can_view_app %}
              <li id="omics-pr-nav-app-plugin-{{ plugin.name }}" class="nav-item {% get_link_state plugin.urls request.resolver_match.url_name %}">
                <a class="nav-link"
                   href="{% url plugin.entry_point_url_id project=project.pk %}"
                   id="omics-pr-link-app-plugin-{{ plugin.name }}">
                  <i class="fa fa-{{ plugin.icon }}"></i><br />{{ plugin.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {# Role and project editing #}
        {% if project.type != PROJECT_TYPE_CATEGORY and can_view_roles %}
          <li id="omics-pr-nav-project-roles" class="nav-item {% get_link_state projectroles_urls request.resolver_match.url_name role_urls %}">
            <a class="nav-link"
               href="{% url 'project_roles' pk=project.pk %}"
               id="omics-pr-link-project-roles">
              <i class="fa fa-users"></i><br />Project Members
            </a>
          </li>
        {% endif %}
        {% if project.type != PROJECT_TYPE_CATEGORY and can_update_settings %}
          <li id="omics-pr-nav-project-settings" class="nav-item {% get_link_state projectroles_urls request.resolver_match.url_name 'settings_update' %}">
            <a class="nav-link"
               href="{% url 'settings_update' project=project.pk %}"
               id="omics-pr-link-project-settings">
              <i class="fa fa-wrench"></i><br />{% get_project_type_str project %} Settings
            </a>
          </li>
        {% endif %}
        {% if can_update_project %}
          <li id="omics-pr-nav-project-update" class="nav-item {% get_link_state projectroles_urls request.resolver_match.url_name 'project_update' %}">
            <a class="nav-link"
               href="{% url 'project_update' pk=project.pk %}"
               id="omics-pr-link-project-update">
              <i class="fa fa-pencil"></i><br />Update {% get_project_type_str project %}
            </a>
          </li>
        {% endif %}

        {# Project starring/unstarring #}

          <li id="omics-pr-nav-project-star" class="nav-item">
            {% if project_starred %}
              <a class="nav-link"
                 href="{% url 'project_star' pk=project.pk %}"
                 id="omics-pr-link-project-star">
                <i class="fa fa-star text-warning"></i><br />Unstar {% get_project_type_str project %}
              </a>
            {% else %}
              <a class="nav-link"
                 href="{% url 'project_star' pk=project.pk %}"
                 id="omics-pr-link-project-star">
                <i class="fa fa-star-o"></i><br />Star {% get_project_type_str project %}
              </a>
            {% endif %}
          </li>
     </ul>
    </div>
  </nav>
