{% load rules %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}

<tr class="omics-pr-project-list-item" id="omics-pr-project-search-item-{{ p.pk }}">
  <td>
    {% if p.type == 'CATEGORY' %}
      <i class="fa fa-fw fa-cubes"></i>
    {% else %}
      <i class="fa fa-fw fa-cube"></i>
    {% endif %}
    <a href="{% url 'project_detail' pk=p.pk %}">
      {% get_project_title_html p as project_title %}
      {% autoescape off %}
        {% highlight_search_term project_title search_term %}
        {% get_star p request.user %}
      {% endautoescape %}
    </a>
  </td>
  <td>
    {% get_description p as description %}
    {% autoescape off %}
      {% highlight_search_term description search_term %}
    {% endautoescape %}
  </td>
  <td>
    {% autoescape off %}
      {% get_user_role_str p request.user %}
    {% endautoescape %}
  </td>
</tr>
