{% load rules %}
{% load projectroles_tags %}

{% has_perm 'projectroles.view_project' request.user project as can_view_project %}
{% has_perm 'projectroles.view_project_roles' request.user project as can_view_roles %}
{% has_perm 'projectroles.update_project' request.user project as can_update_project %}
{% has_perm 'projectroles.create_project' request.user project as can_create_project %}
{% has_perm 'projectroles.update_project_settings' request.user project as can_update_settings %}

{% omics_constant 'PROJECT_TYPE_CATEGORY' as PROJECT_TYPE_CATEGORY %}

<div class="row">
  <h2>
    {% if project.parent %}
      {{ project.parent.title }} /
    {% endif %}
    {{ project.title }}
  </h2>

  <div class="btn-group ml-auto" role="group" id="omics-pr-project-menu">
    {% if request.resolver_match.url_name == 'project_detail' %}
      <a type="button" class="btn btn-secondary" href="{% url 'home' %}" id="omics-pr-btn-back-overview">
        <i class="fa fa-arrow-circle-left"></i>
        Back to Home
      </a>
    {% elif request.resolver_match.url_name == 'role_update' %}
      <a type="button" class="btn btn-secondary" id="omics-pr-btn-back-roles" href="{% url 'project_roles' pk=project.pk %}">
        <i class="fa fa-arrow-circle-left"></i>
        Back to Roles
      </a>
    {% else %}
      <a type="button" class="btn btn-secondary" id="omics-pr-btn-back-project" href="{% url 'project_detail' pk=project.pk %}">
        <i class="fa fa-arrow-circle-left"></i>
        Back to Project
      </a>
    {% endif %}
    <div class="btn-group" role="group">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Project Menu
      </button>
      <div class="dropdown-menu dropdown-menu-right">

        {# App plugins #}
        {% if project.type != PROJECT_TYPE_CATEGORY %}
          {% for plugin in app_plugins %}
            {% has_perm plugin.app_permission request.user project as can_view_app %}
            {% if can_view_app %}
              <a class="dropdown-item"
                   href="{% url plugin.entry_point_url_id project=project.pk %}"
                   title="{{ plugin.title }}"
                   id="omics-pr-btn-app-plugin-{{ plugin.pk }}">
                 <i class="fa fa-{{ plugin.icon }}"></i>
                {{ plugin.title }}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}

        {# Role and project editing #}
        {% if project.type != PROJECT_TYPE_CATEGORY and can_view_roles %}
          <a class="dropdown-item"
              href="{% url 'project_roles' pk=project.pk %}"
              title="User Roles"
              id="omics-pr-btn-project-roles">
            <i class="fa fa-users"></i>
            User Roles
          </a>
        {% endif %}
        {% if project.type != PROJECT_TYPE_CATEGORY and can_update_settings %}
          <a class="dropdown-item"
              href="{% url 'settings_update' project=project.pk %}"
              title="Project Settings"
              id="omics-pr-btn-project-settings">
            <i class="fa fa-wrench"></i>
            Project Settings
          </a>
        {% endif %}
        {% if can_update_project %}
          <a class="dropdown-item"
              href="{% url 'project_update' pk=project.pk %}"
              title="Update Project"
              id="omics-pr-btn-project-update">
            <i class="fa fa-pencil"></i>
            Update Project
          </a>
        {% endif %}
        {% if not project.parent and can_create_project %}
          <a class="dropdown-item"
              href="{% url 'project_create' parent=project.pk %}"
              title="Create Subproject"
              id="omics-pr-btn-project-create">
            <i class="fa fa-cube"></i>
            Create Subproject
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid omics-hr-container">
  <hr>
</div>

