{% load rules %}
{% load projectroles_tags %}

{% has_perm 'projectroles.view_project' request.user project as can_view_project %}
{% has_perm 'projectroles.view_project_roles' request.user project as can_view_roles %}
{% has_perm 'projectroles.update_project' request.user project as can_update_project %}
{% has_perm 'projectroles.create_project' request.user project as can_create_project %}
{% has_perm 'projectroles.update_project_settings' request.user project as can_update_settings %}

{% omics_constant 'PROJECT_TYPE_CATEGORY' as PROJECT_TYPE_CATEGORY %}

  <nav class="nav navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarWEX" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarWEX">
      <ul class="navbar-nav flex-column omics-pr-sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'project_detail' pk=project.pk %}">
            {% if project.type == PROJECT_TYPE_CATEGORY %}
              <i class="fa fa-cubes fa-3x"></i>
            {% else %}
              <i class="fa fa-cube fa-3x"></i>
            {% endif %}
            <br />Overview
          </a>
        </li>
        {# App plugins #}
        {% if project.type != PROJECT_TYPE_CATEGORY %}
          {% for plugin in app_plugins %}
            {% has_perm plugin.app_permission request.user project as can_view_app %}
            {% if can_view_app %}
              <li class="nav-item">
                <a class="nav-link"
                   href="{% url plugin.entry_point_url_id project=project.pk %}"
                   id="omics-pr-link-app-plugin-{{ plugin.pk }}">
                  <i class="fa fa-{{ plugin.icon }} fa-3x"></i><br />{{ plugin.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {# Role and project editing #}
        {% if project.type != PROJECT_TYPE_CATEGORY and can_view_roles %}
          <li class="nav-item">
            <a class="nav-link"
               href="{% url 'project_roles' pk=project.pk %}"
               id="omics-pr-link-project-roles">
              <i class="fa fa-users fa-3x"></i><br />User Roles
            </a>
          </li>
        {% endif %}
        {% if project.type != PROJECT_TYPE_CATEGORY and can_update_settings %}
          <li class="nav-item">
            <a class="nav-link"
               href="{% url 'settings_update' project=project.pk %}"
               id="omics-pr-link-project-settings">
              <i class="fa fa-wrench fa-3x"></i><br />Project Settings
            </a>
          </li>
        {% endif %}
        {% if can_update_project %}
          <li class="nav-item">
            <a class="nav-link"
               href="{% url 'project_update' pk=project.pk %}"
               id="omics-pr-link-project-update">
              <i class="fa fa-pencil fa-3x"></i><br />Update Project
            </a>
          </li>
        {% endif %}
     </ul>
    </div>
  </nav>

