{% extends 'base.html' %}
{% load rules %}
{% load projectroles_tags %}

{% block sub_navbar %}
  <div class="row bg-secondary omics-pr-navbar" id="omics-pr-navbar">
    <ol id="omics-pr-breadcrumb" class="breadcrumb omics-pr-breadcrumb">
      {% if request.resolver_match.url_name == 'home' %}
        <li class="breadcrumb-item active"><i class="fa fa-home"></i> Home</li>
      {% else %}
        <li class="breadcrumb-item"><i class="fa fa-home"></i> <a href="{% url 'home' %}">Home</a></li>
      {% endif %}
      {% if project.get_parents %}
        {% for p in project.get_parents %}
          <li class="breadcrumb-item">
            <a href="{% url 'project_detail' pk=p.pk %}">{{ p.title }}</a>
          </li>
        {% endfor %}
      {% endif %}
      {% if project %}
        {% if request.resolver_match.url_name == 'project_detail' %}
          <li class="breadcrumb-item active">{{ project.title }}
        {% else %}
          <li class="breadcrumb-item"><a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a>
        {% endif %}
        </li>
      {% else %}
        {% if request.resolver_match.url_name != 'home' %}
          <li class="breadcrumb-item active">
            {% block sub_navbar_current %}
              TODO: Enter page title in block sub_navbar_current :)
            {% endblock sub_navbar_current %}
          </li>
        {% endif %}
      {% endif %}
    </ol>

    {% if request.resolver_match.url_name == 'home' or project and project.type == 'CATEGORY' %}
      <div class="d-flex ml-auto align-items-center omics-pr-navbar-right">
        {% if project %}
          {% has_perm 'projectroles.create_project' request.user project as can_create_project %}
          {% if can_create_project %}
            <a href="{% url 'project_create' project=project.pk %}" id="omics-pr-link-project-create"><i class="fa fa-plus"></i> Create Project or Category</a>
          {% endif %}
        {% else %}
          {% has_perm 'projectroles.create_project' request.user as can_create_project %}
          {% if can_create_project %}
            <a href="{% url 'project_create' %}" id="omics-pr-home-link-create"><i class="fa fa-plus"></i> Create Category</a>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock sub_navbar %}

{% block content %}

  {% if project %}
    <div class="omics-content-left">
      {# Sidebar #}
      <div class="col h-100 bg-dark text-center omics-pr-sidebar" id="omics-pr-sidebar">
        {% include 'projectroles/_project_sidebar.html' %}
      </div>
    </div>
  {% endif %}

  <div class="omics-content-right">
    {# Messages #}
    {% if messages %}
      <div class="container-fluid omics-alert-container">
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} omics-alert-top">{{ message }}</div>
      {% endfor %}
      </div>
    {% endif %}

    {# Actual content #}
    <div class="container-fluid omics-pr-content" id="omics-pr-content">
      {% block projectroles %}
        Projectroles app content here
      {% endblock projectroles %}
    </div>
  </div>
{% endblock content %}
