{% extends 'projectroles/base.html' %}
{% load projectroles_tags %}
{% load rules %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    .table#omics-main-project-list tr td:nth-child(1) {
        white-space: nowrap;
    }

    .table#omics-main-project-list tr td:nth-child(3) {
        white-space: nowrap;
    }
  </style>
{% endblock css %}

{% block title %}Omics Data Management: Home{% endblock title %}

{% block projectroles %}

{% has_perm 'projectroles.create_project' request.user as can_create_project %}
<div class="row">
  <h2>Home</h2>
  {% if can_create_project %}
    <a role="button" class="btn btn-primary ml-auto" href="{% url 'project_create' %}" id="omics-pr-home-btn-create">
      <i class="fa fa-plus"></i>
      Create Category or Project
    </a>
  {% endif %}
</div>

<div class="container-fluid omics-hr-container">
  <hr>
</div>

<div class="container-fluid">

  {# Project List #}

  <div class="card" id="omics-pr-project-list">
    <div class="card-header">
      <h4><i class="fa fa-globe"></i> Available Projects</h4>
    </div>
    <div class="card-body omics-card-body-table">
     <table class="table table-hover omics-card-table omics-card-table-borderless" id="omics-main-project-list">
       <thead>
         {% include 'projectroles/_project_list_header.html' %}
       </thead>
       <tbody>
         {% get_project_list user=request.user parent=None as project_list %}
         {% if project_list|length > 0 %}
           {% for p in project_list %}
             {% include 'projectroles/_project_list_item.html' with list_parent=None %}
           {% endfor %}
        {% else %}
           <tr>
             <td class="bg-faded font-italic text-center text-danger" colspan="3">No projects available: access must be granted by project personnel or a superuser</td>
           </tr>
        {% endif %}
       </tbody>
     </table>
    </div>
  </div>

  {% if request.user.is_superuser %}

    {# Project Apps #}

    <div class="card">
      <div class="card-header">
        <h4><i class="fa fa-mouse-pointer"></i> Project Apps</h4>
      </div>
      <div class="card-body omics-card-body">
        <dl class="row omics-dl">
          {% for plugin in app_plugins %}
            <dt class="col-md-2"><i class="fa fa-{{ plugin.icon }}"></i> {{ plugin.title }}</dt>
            <dd class="col-md-10">{{ plugin.description }}</dd>
          {% endfor %}
        </dl>
      </div>
    </div>

    {# Enabled Backend Plugins #}

    <div class="card">
      <div class="card-header">
        <h4><i class="fa fa-puzzle-piece"></i> Enabled Backend Plugins</h4>
      </div>
      <div class="card-body omics-card-body">
        <dl class="row omics-dl">
          {% for plugin in backend_plugins %}
            <dt class="col-md-2"><i class="fa fa-{{ plugin.icon }}"></i> {{ plugin.title }}</dt>
            <dd class="col-md-10">{{ plugin.description }}</dd>
          {% endfor %}
        </dl>
      </div>
    </div>

  {% endif %}

</div>

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('home_project', {
        title: 'Available Projects',
        text: 'Projects available to you are listed in this table.',
        attachTo: '#pr_project_list top',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    tour.addStep('home_role', {
        title: 'Your Roles',
        text: 'The role assigned to you in each project can be seen here.',
        attachTo: '#omics-pr-project-list left',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    if ($('#omics-pr-home-btn-create').length) {
        tour.addStep('home_create', {
            title: 'Create a Category or Project',
            text: 'Click here to create a new top level category or project.',
            attachTo: '#omics-pr-home-btn-create left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
  </script>
{% endblock javascript %}
