{% extends 'projectroles/base.html' %}
{% load projectroles_tags %}
{% load rules %}

{% block title %}Search Results{% endblock title %}

{% block projectroles %}

{% has_perm 'projectroles.create_project' request.user as can_create_project %}

<div class="row">
  <h2 class="omics-title">Search Results</h2>
</div>

<div class="container-fluid">

  {# Project List #}

  <div class="card" id="omics-pr-project-list">
    <div class="card-header">
      <h4><i class="fa fa-globe"></i> Projects Matching "{{ search_title }}"</h4>
    </div>
    <div class="card-body omics-card-body-table">
     <table class="table table-hover omics-card-table omics-card-table-borderless" id="omics-main-project-list">
       <thead>
         {% include 'projectroles/_project_list_header.html' %}
       </thead>
       <tbody>
         {% get_project_search_list user=request.user title=search_title as project_list %}
         {% if project_list|length > 0 %}
           {% for p in project_list %}
             {% include 'projectroles/_project_search_item.html' %}
           {% endfor %}
        {% else %}
           <tr>
             <td class="bg-faded font-italic text-center text-danger" colspan="3">No projects found</td>
           </tr>
        {% endif %}
       </tbody>
     </table>
    </div>
  </div>

</div>

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('home_project', {
        title: 'Available Projects',
        text: 'Projects available to you are listed in this table.',
        attachTo: '#omics-pr-project-list top',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    if ($('#omics-pr-home-link-create').length) {
        tour.addStep('home_create', {
            title: 'Create Project',
            text: 'Click here to create a new project or category.',
            attachTo: '#omics-pr-home-link-create bottom',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
  </script>
{% endblock javascript %}
