{% extends 'projectroles/base.html' %}
{% load rules %}
{% load projectroles_tags %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    div.app-plugin-description {
      padding: 8px 12px;
      color: #000000;
      background-color: #FFFFE0;
    }
  </style>
{% endblock css %}

{% block title %}Project {{ object.title }}{% endblock title %}

{% block projectroles %}

{% has_perm 'projectroles.view_project' request.user object as can_view_project %}
{% omics_constant 'PROJECT_TYPE_CATEGORY' as PROJECT_TYPE_CATEGORY %}

{% if can_view_project %}
  {% include 'projectroles/_project_header.html' %}

  <div class="container-fluid">

    {# README #}

    {% if object.readme.rendered|length > 0 %}
      <div class="card" id="omics-pr-details-card-readme">
        <div class="card-header">
          <h4><i class="fa fa-book"></i> ReadMe</h4>
        </div>
        <div class="card-body omics-card-body">
          {% autoescape off %}
            {% render_markdown object.readme.raw %}
          {% endautoescape %}
        </div>
      </div>
    {% endif %}

    {# App Plugin Cards #}

    {% if object.type != PROJECT_TYPE_CATEGORY %}
      {% for plugin in app_plugins %}
        {% has_perm plugin.app_permission request.user object as can_view_app %}
        {% if can_view_app %}
          <div class="card pr_app_card" id="omics-pr-app-card-{{ plugin.pk }}">
            <div class="card-header card-header-omics-app-detail">
              <h4>
                <i class="fa fa-{{ plugin.icon }}"></i>
                {% if plugin.details_title %}
                  {{ plugin.details_title }}
                {% else %}
                  {{ plugin.title }}
                {% endif %}
                <a role="button" class="btn btn-link omics-details-app-button pull-right" href="{% url plugin.entry_point_url_id project=project.pk %}"><i class="fa fa-arrow-circle-right"></i> View Details</a>
              </h4>
            </div>
            <div class="card-body omics-card-body app-plugin-description">
                <i class="fa fa-info-circle"></i> {{ plugin.description }}
            </div>
            {% if plugin.details_template %}
              <div class="card-body omics-card-body">
                {% include plugin.details_template %}
              </div>
            {% else %}
              <div class="card-body omics-card-body">
                <dl class="row">
                  <dt class="col-md-2">Description</dt>
                  <dd class="col-md-10">{{ plugin.description }}</dd>
                  {% get_plugin_info plugin project.pk as plugin_info %}
                  {% for key, value in plugin_info %}
                    <dt class="col-md-2">{{ key }}</dt>
                    <dd class="col-md-10">{{ value }}</dd>
                  {% endfor %}
                </dl>
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

   {# Subprojects #}

   {% get_project_list user=request.user parent=object as subproject_list %}
   {% if subproject_list|length > 0 %}
     <div class="card">
      <div class="card-header">
        <h4><i class="fa fa-globe"></i> Subprojects</h4>
      </div>
      <div class="card-body omics-card-body-table">
        <table class="table table-hover omics-card-table-borderless">
         <thead>
           {% include 'projectroles/_project_list_header.html' %}
         </thead>
         <tbody>
           {% for p in subproject_list %}
             {% include 'projectroles/_project_list_item.html' with list_parent=object %}
           {% endfor %}
         </tbody>
       </table>
      </div>
    </div>
   {% endif %}

  </div>

{% else %}
  <div class="alert alert-danger" role="alert">
    Insufficient permissions for viewing project!
  </div>
{% endif %}

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('project_nav', {
        title: 'Project Navigation Menu',
        text: 'From this menu you can access project apps and actions. ' +
              'The back link returns you to the previous level as you ' +
              'navigate within the project.',
        attachTo: '#omics-pr-btn-back-overview bottom',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    if ($('.pr_app_card').length) {
        tour.addStep('project_app_cards', {
            title: 'Project App Overviews',
            text: 'Overviews of project apps and data are presented here.',
            attachTo: '.pr_app_card top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    if ($('.omics-details-app-button').length) {
        tour.addStep('project_app_details', {
            title: 'View Details of Project App',
            text: 'In addition to the project menu above, project apps can also ' +
            'be accessed using the "View Details" buttons.',
            attachTo: '.omics-details-app-button left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
  </script>
{% endblock javascript %}

