{% extends 'projectroles/base.html' %}
{% load projectroles_tags %}
{% load rules %}

{% block title %}
  Search Results for "{{ search_term }}"
  {% if search_type %}
    (type:{{ search_type }})
  {% endif %}
{% endblock title %}

{% block projectroles %}

{% has_perm 'projectroles.create_project' request.user as can_create_project %}

<div class="row omics-pr-content-title">
  <h2 class="omics-pr-content-title">Search Results</h2>
    <div class="omics-pr-content-title-secondary text-muted">
      for "{{ search_term }}"
      {% if search_type %}
        (type:{{ search_type }})
      {% endif %}
    </div>
</div>

<div class="container-fluid omics-page-container">

  {# TODO: Get valid search types from e.g. a template tag #}
  {% if search_type and search_type != 'project' and search_apps|length == 0 %}
    <div class="alert alert-danger" role="alert">
      <strong>Error:</strong> Search type "{{ search_type }}" not recognized!
    </div>
  {% else %}

    {# Project Search #}

    {% if not search_type or search_type == 'project' %}
      <div class="card omics-card" id="omics-pr-search-project-list">
        <div class="card-header">
          <h4><i class="fa fa-cube"></i> Projects</h4>
        </div>
        <div class="card-body omics-card-body-table">
         <table class="table table-hover omics-card-table omics-card-table-borderless" id="omics-pr-project-list-table">
           <thead>
             {% include 'projectroles/_project_list_header.html' %}
           </thead>
           <tbody>
             {% find_projects search_term request.user as projects %}
             {% for p in projects %}
               {% include 'projectroles/_project_search_item.html' %}
             {% endfor %}
             {% if projects|length == 0 %}
               <tr>
                 <td class="bg-faded font-italic text-center text-danger" colspan="3">No projects found</td>
               </tr>
             {% endif %}
           </tbody>
         </table>
        </div>
      </div>
    {% endif %}

    {# App Search #}
    {% for plugin in search_apps %}
      <div class="card omics-card omics-pr-app-card" id="omics-pr-search-app-item-{{ plugin.name }}">
        <div class="card-header">
          <h4>
            <i class="fa fa-{{ plugin.icon }}"></i> {{ plugin.search_title }}
          </h4>
        </div>
        {% if plugin.search_template %}
          <div class="card-body omics-card-body-table">
            <div class="table-responsive omics-pr-app-search-container">
              {% include plugin.search_template %}
            </div>
          </div>
         {% else %}
          <div class="card-body omics-card-body text-center">
            <p class="text-danger"><em>No search template found</em></p>
          </div>
        {% endif %}
      </div>
    {% endfor %}

  {% endif %}

</div>

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    if ($('#omics-pr-search-project-list').length) {
        tour.addStep('search_project', {
            title: 'Matching Projects',
            text: 'Projects matching the search are listed here.',
            attachTo: '#omics-pr-search-project-list top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    if ($('.omics-pr-app-card').length) {
        tour.addStep('search_app', {
            title: 'Matching Data from Apps',
            text: 'Matching Data from Apps is listed for each app with search' +
                  ' enabled.',
            attachTo: '.omics-pr-app-card top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    if ($('.omics-search-highlight').length) {
        tour.addStep('search_highlight', {
            title: 'Search Highlight',
            text: 'The search terms are highlighted for each matching object.',
            attachTo: '.omics-search-highlight right',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
  </script>
{% endblock javascript %}
