[MASTER]
load-plugins=pylint_common, pylint_django

[FORMAT]
max-line-length=80

[MESSAGES CONTROL]
disable=C0103,C0111,C0116,C0330,R0903,R0904,W0703,W1202

[DESIGN]
max-parents=13

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete
