DJANGO_DEBUG=1
ENABLE_DEBUG_TOOLBAR=1

# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# Domain name, used by caddy
DOMAIN_NAME=example.com

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=UBL_*<~DAdmzABtiVuh_BUG`0!$h-p1GzT^p:^Rhpd8&:6KAYQ
DJANGO_ALLOWED_HOSTS=*

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# Sentry
DJANGO_SENTRY_DSN=

# Default development iRODS server in sodar_docker_env
IRODS_HOST=0.0.0.0
IRODS_PORT=4477

# Celery broker config
CELERY_BROKER_URL=redis://0.0.0.0:6633/0