# Example env for local development with sodar-docker-compose in dev mode
# NOTE: For a production env example, see the sodar-docker-compose repository.
# Make sure DJANGO_READ_DOT_ENV=1 is set in your system environment!

# Django
DJANGO_DEBUG=1
ENABLE_DEBUG_TOOLBAR=0
DJANGO_SECRET_KEY=CHANGEMEchangemeCHANGEMEchangemeCHANGEMEchangemeCH
DJANGO_SECURE_SSL_REDIRECT=False

# Site
SITE_INSTANCE_TITLE=ACME SODAR
SITE_SUBTITLE=Dev
SODAR_API_DEFAULT_HOST=http://127.0.0.1:8000
EMAIL_SENDER=sodar@example.com
EMAIL_SUBJECT_PREFIX=[ACME SODAR]
EMAIL_URL=smtp://mail.example.com

# LDAP/AD
ENABLE_LDAP=0
AUTH_LDAP_SERVER_URI=
AUTH_LDAP_BIND_PASSWORD=
AUTH_LDAP_BIND_DN=
AUTH_LDAP_USER_SEARCH_BASE=
AUTH_LDAP_USERNAME_DOMAIN=
AUTH_LDAP_DOMAIN_PRINTABLE=

ENABLE_LDAP_SECONDARY=0
AUTH_LDAP2_SERVER_URI=
AUTH_LDAP2_BIND_PASSWORD=
AUTH_LDAP2_BIND_DN=
AUTH_LDAP2_USER_SEARCH_BASE=
AUTH_LDAP2_USERNAME_DOMAIN=
AUTH_LDAP2_DOMAIN_PRINTABLE=

# PostgreSQL settings
DATABASE_URL="postgres://postgres:password@127.0.0.1/sodar"

# Celery
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# Sentry
DJANGO_SENTRY_DSN=

# iRODS
ENABLE_IRODS=1
IRODS_HOST=127.0.0.1
IRODS_PORT=1247
IRODS_ZONE=sodarZone
IRODS_USER=rods
IRODS_PASS=rods
IRODS_CERT_PATH=/PATH/TO/YOUR/server.crt
IRODS_ENV_BACKEND=irods_client_server_negotiation=off,irods_client_server_policy=CS_NEG_REFUSE,irods_ssl_verify_server=none,irods_authentication_scheme=native
IRODS_ENV_CLIENT=irods_client_server_negotiation=off,irods_client_server_policy=CS_NEG_REFUSE,irods_ssl_verify_server=none,irods_authentication_scheme=PAM
IRODS_ROOT_PATH=
IRODS_SODAR_AUTH=1

# Taskflow
TASKFLOW_BACKEND_HOST=http://127.0.0.1
TASKFLOW_BACKEND_PORT=5005
TASKFLOW_SODAR_SECRET=not-so-important-with-docker
TASKFLOW_TEST_SODAR_HOST=http://host.docker.internal

# Davrods
IRODS_WEBDAV_ENABLED=1
IRODS_WEBDAV_URL=https://127.0.0.1
IRODS_WEBDAV_URL_ANON=https://127.0.0.1
IRODS_WEBDAV_USER_ANON=ticket
IRODS_WEBDAV_IGV_PROXY=0

# Projectroles
PROJECTROLES_DEFAULT_ADMIN=admin
PROJECTROLES_ALLOW_LOCAL_USERS=1
PROJECTROLES_ALLOW_ANONYMOUS=0
PROJECTROLES_SEND_EMAIL=1

# Add other SODAR app settings here when you want to alter default values
