<div class="btn-group" id="ff_folder_buttons_{{ pk }}">
  <button class="btn btn-secondary btn-sm dropdown-toggle"
      type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'folder_update' pk=pk %}">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Update Folder
    </a>
    <a class="dropdown-item" href="{% url 'folder_delete' pk=pk %}">
      <i class="fa fa-close" aria-hidden="true"></i>
      Delete Folder
    </a>
  </div>
</div>
