<div class="btn-group omics-edit-button-group" id="omics-ff-folder-buttons-{{ pk }}">
  <button class="btn btn-secondary dropdown-toggle btn-sm omics-edit-dropdown"
      type="button" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-cog"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'folder_update' project=project.pk pk=pk %}">
      <i class="fa fa-pencil"></i>
      Update Folder
    </a>
    <a class="dropdown-item" href="{% url 'folder_delete' project=project.pk pk=pk %}">
      <i class="fa fa-close"></i>
      Delete Folder
    </a>
  </div>
</div>
