<div class="btn-group omics-edit-button-group" id="omics-ff-hyperlink-buttons-{{ link.pk }}">
  <button class="btn btn-secondary dropdown-toggle btn-sm omics-edit-dropdown"
      type="button" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-cog"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'hyperlink_update' pk=link.pk project=link.project.pk %}">
      <i class="fa fa-pencil"></i>
      Update Link
    </a>
    <a class="dropdown-item" href="{% url 'hyperlink_delete' pk=link.pk project=link.project.pk %}">
      <i class="fa fa-close"></i>
      Delete Link
    </a>
  </div>
</div>
