<div
  {% if not up %}
    class="btn-group ml-auto" id="omics-ff-buttons-list"
  {% else %}
    class="btn-group dropup pull-right" id="omics-ff-buttons-list-up"
  {% endif %}
  >
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      File Actions
    </button>
    <div class="dropdown-menu dropdown-menu-right">

      {# Folder #}
      <a class="dropdown-item"
        {% if folder %}
          href="{% url 'folder_create' project=project.pk folder=folder.pk %}">
        {% else %}
          href="{% url 'folder_create' project=project.pk %}">
        {% endif %}
          <i class="fa fa-folder-open"></i>
            Add Folder
        </a>

      {# Hyperlink #}
      <a class="dropdown-item"
        {% if folder %}
          href="{% url 'hyperlink_create' project=project.pk folder=folder.pk %}">
        {% else %}
          href="{% url 'hyperlink_create' project=project.pk %}">
        {% endif %}
          <i class="fa fa-external-link"></i>
            Add Link
        </a>

      {# File #}
      <a class="dropdown-item"
        {% if folder %}
          href="{% url 'file_create' project=project.pk folder=folder.pk %}">
        {% else %}
          href="{% url 'file_create' project=project.pk %}">
        {% endif %}
          <i class="fa fa-upload"></i>
            Upload File
        </a>

      {# Move Selected #}
      <a class="dropdown-item"
           href="javascript:{}"
           onclick="
             document.getElementById('omics-ff-batch-form-action').value = 'move';
             document.getElementById('omics-ff-batch-form').submit();
             return false;">
        <i class="fa fa-arrow-right"></i>
          Move Selected
      </a>

      {# Delete Selected #}
      <a class="dropdown-item"
           href="javascript:{}"
           onclick="
             document.getElementById('omics-ff-batch-form-action').value = 'delete';
             document.getElementById('omics-ff-batch-form').submit();
             return false;">
        <i class="fa fa-trash"></i>
          Delete Selected
      </a>
    </div>
</div>
