<div
  {% if not up %}
    class="btn-group pull-right" id="ff_buttons_list"
  {% else %}
    class="btn-group dropup pull-right" id="ff_buttons_list_up"
  {% endif %}
  style="margin-bottom: 12px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      File Actions
    </button>
    <div class="dropdown-menu dropdown-menu-right">

      {# Folder #}
      <a class="dropdown-item"
        {% if folder %}
          href="{% url 'folder_create' project=project.pk folder=folder.pk %}">
        {% else %}
          href="{% url 'folder_create' project=project.pk %}">
        {% endif %}
          <i class="fa fa-folder-open" aria-hidden="true"></i>
            Add Folder
        </a>

      {# Hyperlink #}
      <a class="dropdown-item"
        {% if folder %}
          href="{% url 'hyperlink_create' project=project.pk folder=folder.pk %}">
        {% else %}
          href="{% url 'hyperlink_create' project=project.pk %}">
        {% endif %}
          <i class="fa fa-external-link" aria-hidden="true"></i>
            Add Link
        </a>

      {# File #}
      <a class="dropdown-item"
        {% if folder %}
          href="{% url 'file_create' project=project.pk folder=folder.pk %}">
        {% else %}
          href="{% url 'file_create' project=project.pk %}">
        {% endif %}
          <i class="fa fa-upload" aria-hidden="true"></i>
            Upload File
        </a>

      {# Move Selected #}
      <a class="dropdown-item"
           href="javascript:{}"
           onclick="
             document.getElementById('ff_batch_form_action').value = 'move';
             document.getElementById('ff_batch_form').submit();
             return false;">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
          Move Selected
      </a>

      {# Delete Selected #}
      <a class="dropdown-item"
           href="javascript:{}"
           onclick="
             document.getElementById('ff_batch_form_action').value = 'delete';
             document.getElementById('ff_batch_form').submit();
             return false;">
        <i class="fa fa-trash" aria-hidden="true"></i>
          Delete Selected
      </a>
    </div>
</div>