{% load filesfolders_tags %}
{# Projectroles dependency #}
{% load projectroles_tags %}

<tr class="omics-ff-search-item" id="omics-ff-search-item-{{ item.pk }}">
  {# Icon & name column #}
  <td>
    {% if item|get_class == 'Folder' %}
      <i class="fa fa-folder"></i>
    {% elif item|get_class == 'HyperLink' %}
      <i class="fa fa-external-link"></i>
    {% elif item|get_class == 'File' %}
        <i class="fa fa-{% get_file_icon item %}"></i>
    {% endif %}
  </td>
  {# Name/link column #}
  <td>
    {% highlight_search_term item.name search_term as item_display_name %}
    {% if item|get_class == 'HyperLink' %}
      <a href="{{ item.url }}" target="_blank">
    {% elif item|get_class == 'Folder' %}
      <a href="{% url 'project_files' project=item.project.pk folder=item.pk %}">
    {% elif item|get_class == 'File' %}
      <a href="{% url 'file_serve' pk=item.pk project=item.project.pk file_name=item.name %}">
    {% endif %}
    {% autoescape off %}{{ item_display_name }}{% endautoescape %}</a>
    {% if item|get_class == 'File' and allow_public_links and item.public_url and can_share_link %}
      <a title="Public Link" href="{% url 'file_public_link' pk=item.pk project=item.project.pk %}" id="omics-ff-link-public-{{ item.pk }}">
        <i class="fa fa-link" aria-hidden="false"></i>
      </a>
    {% endif %}
    </a>
  </td>
  {# Project column #}
  <td>
    {% get_project_title_html item.project as project_title %}
    {% if item.folder %}
      <a href="{% url 'project_files' project=item.project.pk folder=item.folder.pk %}">
    {% else %}
      <a href="{% url 'project_files' project=item.project.pk %}">
    {% endif %}
      {% autoescape off %}
        {# NOTE: No highlight here as project is not searched for here #}
        {% get_project_title_html item.project %}
      {% endautoescape %}
    </a>
  </td>
  {# File size column (only for files) #}
  <td class="text-right">
    {% if item|get_class == 'File' %}
      {{ item.file.file.size|filesizeformat }}
    {% endif %}
  </td>
  {# Description column #}
  <td>
    {% autoescape off %}
      {% highlight_search_term item.description search_term %}
    {% endautoescape %}
  </td>
</tr>
