{% load landingzones_tags %}
{% load static %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{% check_backend 'omics_irods' as irods_backend_enabled %}
{% get_django_setting 'LANDINGZONES_STATUS_INTERVAL' as zone_status_interval %}

{% if irods_backend_enabled %}
  {% load irodsbackend_tags %}
{% endif %}

{% load rules %}

<style type="text/css">
  .sodar-lz-detail-table td:first-child {
    border-left: 0;
  }
  .sodar-lz-detail-table thead tr th:nth-child(1) {
    width: 250px;
  }
  .sodar-lz-detail-table thead tr th:nth-child(3) {
    white-space: nowrap;
    width: 150px;
  }
  /* Responsive modifications */
  @media screen and (max-width: 1000px) {
    .table.sodar-lz-detail-table tr th:nth-child(2) {
      display: none;
    }
    .table.sodar-lz-detail-table tr td:nth-child(2) {
      display: none;
    }
  }
</style>

<!-- Settings for Javascript -->
<script type="text/javascript">
  window.statusInterval = {{ zone_status_interval }} * 5000;
  var zoneStatusURL = "{% url 'landingzones:ajax_status' project=project.sodar_uuid %}";
  var currentUserURL = "{% url 'projectroles:ajax_user_current' %}";
</script>

<!-- Landingzones Javascript -->
<script type="text/javascript" src="{% static 'landingzones/js/landingzones.js' %}"></script>

<table class="table table-striped sodar-card-table sodar-lz-detail-table">
  <thead>
    <tr>
      <th>Zone</th>
      <th id="sodar-lz-list-header-info">Status&nbsp;Info</th>
      <th id="sodar-lz-list-header-status">Status</th>
    </tr>
  </thead>
  <tbody>
    {% get_details_zones project request.user as zones %}
    {% if zones.count > 0 %}
      {% for zone in zones %}
        {% include 'landingzones/_zone_item.html' with item=zone details_card_mode=True %}
      {% endfor %}
    {% else %}
      <tr id="sodar-lz-detail-table-no-zones">
        <td class="bg-faded font-italic text-center" colspan="4">
          No active landing zones found.
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
