{% load landingzones_tags %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{% check_backend 'omics_irods' as irods_backend_enabled %}

{% if irods_backend_enabled %}
  {% load irodsbackend_tags %}
{% endif %}

{% load rules %}

{% comment TODO: Generalize instead %}
{% if irods_backend_enabled %}
  <!-- iRODS backend Javascript -->
  <script type="text/javascript" src="{% static 'irodsbackend/js/irodsbackend.js' %}"></script>
{% endif %}
{% endcomment %}

<style type="text/css">
  .table.omics-lz-detail-table td:first-child {
    border-left: 0;
    word-break: break-all;
  }

  .table.omics-lz-detail-table thead tr th:nth-child(6) {
    width: 3em !important;
 }
</style>

<table class="table table-striped omics-card-table omics-lz-detail-table">
  <thead>
    <tr>
      <th>Zone</th>
      <th>Assay</th>
      <th id="omics-lz-list-header-info">Status&nbsp;Info</th>
      <th id="omics-lz-list-header-status">Status</th>
    </tr>
  </thead>
  <tbody>
    {% get_details_zones project request.user as zones %}
    {% if zones.count > 0 %}
      {% for zone in zones %}
        {% include 'landingzones/_zone_item.html' with item=zone details_card_mode=True %}
      {% endfor %}
    {% else %}
        <tr>
          <td class="bg-faded font-italic text-center" colspan="4">No available zones</td>
        </tr>
    {% endif %}
  </tbody>
</table>
