<div class="btn-group ml-auto" id="sodar-lz-buttons-list">
  <button class="btn btn-primary dropdown-toggle"
          type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"
          {% if not investigation.irods_status %}disabled{% endif %}>
    Zone Operations
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    {# Create zone #}
    <a class="dropdown-item"
       href="{% url 'landingzones:create' project=project.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:plus-thick"></i> Create Zone
    </a>
    {# Clear inactive zones #}
    {% if zones_own.count > 0 %}
    <a class="dropdown-item"
       href="{% url 'landingzones:clear' project=project.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:delete"></i> Clear Inactive Zones
    </a>
    {% endif %}
  </div>
</div>
