{% load rules %}
{% load landingzones_tags %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{# Load irodsbackend tags if backend is active #}
{% if irods_backend_enabled %}
  {% load irodsbackend_tags %}
{% endif %}

{% is_zone_enabled zone as zone_enabled %}
{% disable_zone_ui zone request.user as disable_zone_ui %}

<tr class="sodar-lz-zone-tr {% get_zone_row_class zone %}"
    id="{{ zone.sodar_uuid }}"
    data-zone-uuid="{{ zone.sodar_uuid }}"
    data-zone-modified="" {# NOTE: Initially set empty on purpose #}
    data-sample-url="{% url 'samplesheets:project_sheets' project=project.sodar_uuid %}"
    data-status-url="{% url 'landingzones:ajax_status' project=project.sodar_uuid %}">
  <td class="sodar-lz-zone-title">
    {% if details_card_mode %}
      <a href="{% url 'landingzones:list' project=project.sodar_uuid %}#{{ zone.sodar_uuid }}">
    {% endif %}
    {{ zone.title }}
    {% if details_card_mode %}
      </a>
    {% endif %}
    {% if zone.description %}
      <span class="sodar-lz-zone-description-link">
        {% get_zone_desc_html zone as zone_desc_html %}
        {% get_info_link zone_desc_html html=True as info_link %}
        {{ info_link | safe }}
      </span>
    {% endif %}
    <div class="sodar-lz-zone-badges">
      {# Assay badge #}
      <span class="badge badge-light text-danger sodar-lz-zone-badge-assay">
        <a href="{{ zone.assay.get_url }}"
           title="{{ zone.assay.get_display_name }}"
           class="sodar-lz-zone-assay-link text-danger"
           data-tooltip="tooltip" data-placement="top">
          <i class="iconify" data-icon="mdi:table-large"></i>
          {{ zone.assay.get_display_name | truncatechars:36 }}
        </a>
      </span>
      {# User badge #}
      {% if zone.user != request.user %}
        {% get_user_badge zone.user as user_badge %}
        {{ user_badge | safe }}
      {% endif %}
      {# Configuration badge #}
      {% if zone.configuration %}
        <span class="badge badge-secondary sodar-lz-zone-badge-config">
          <i class="iconify" data-icon="mdi:cog"></i>
          {% get_config_legend zone as config_legend %}
          {{ config_legend | truncatechars:36 }}
        </span>
      {% endif %}
      {# User lacks permission badge #}
      {% if zone.user != request.user %}
        {% has_perm 'landingzones.update_zone_own' zone.user project as zone_user_perm %}
        {% if not zone_user_perm %}
          <span class="badge badge-warning sodar-lz-zone-badge-warn-perms"
                title="User lacks permissions to update their zone"
                data-tooltip="tooltip" data-placement="top">
            <i class="iconify" data-icon="mdi:account-off"></i>
            No Perms
          </span>
        {% endif %}
      {% endif %}
    </div> {# sodar-lz-zone-badges #}
  </td>
  <td class="sodar-lz-zone-status-info">
    <span id="sodar-lz-zone-status-info-{{ zone.sodar_uuid }}">
      <span class="text-secondary">Updating..</span>
    </span>
    <span id="sodar-lz-zone-status-moved-{{ zone.sodar_uuid }}">
    {% if zone.status == 'MOVED' %}
      <p class="mb-0">
        <a href="{{ zone.assay.get_url }}">
          <i class="iconify" data-icon="mdi:arrow-right-circle"></i>
          Browse files in sample sheets
        </a>
      </p>
    </span>
    {% endif %}
    {% if zone_enabled and irods_backend_enabled %}
      <p class="mb-0"
         id="sodar-lz-zone-stats-container-{{ zone.sodar_uuid }}"
         {% if not zone.can_display_files %}style="display: none;"{% endif %}>
        {% get_irods_path zone as zone_irods_path %}
        {% autoescape off %}
          {% get_stats_html zone_irods_path project %}
        {% endautoescape %}
      </p>
    {% endif %}
  </td>
  <td id="sodar-lz-zone-status-{{ zone.sodar_uuid }}"
      class="sodar-lz-zone-status text-white {% get_status_style zone %}">
    {{ zone.status }}
  </td>
  {% if not details_card_mode %}
    <td class="sodar-lz-zone-links">
      {% if irods_backend_enabled %}
        <span class="sodar-lz-control">
          {% get_irods_path zone as zone_irods_path %}
          {% get_zone_list_url zone as zone_list_url %}
          {% include 'irodsbackend/_irods_buttons.html' with project=project irods_colls=True irods_path=zone_irods_path list_url=zone_list_url data_table=False show_file_list=True disable_all=disable_zone_ui %}
        </span>
      {% endif %}
    </td>
    <td class="sodar-lz-zone-edit">
      {% include 'landingzones/_zone_dropdown.html' %}
    </td>
  {% endif %}
</tr>
