{# Landing zone list #}
<div class="card sodar-lz-zone-list"
     id="sodar-lz-zone-list-{{ list_type }}">
  <div class="card-header">
    <h4><i class="iconify" data-icon="{{ list_icon }}"></i> {{ list_title }}</h4>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped sodar-card-table sodar-lz-table">
      <thead>
        <tr>
          <th class="sodar-lz-list-header-title">Zone</th>
          <th class="sodar-lz-list-header-info">Status&nbsp;Info</th>
          <th class="sodar-lz-list-header-status">Status</th>
          <th class="sodar-lz-list-header-links">Links</th>
          <th class="sodar-lz-list-header-edit"></th>
        </tr>
      </thead>
      <tbody>
        {% for zone in zones %}
          {% include 'landingzones/_zone_item.html' %}
        {% endfor %}
        {% if zones.count == 0 %}
           <td class="bg-faded font-italic text-center" colspan="5">
             No active landing zones found.
           </td>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
