{# Landing zone list #}
<div class="card omics-card omics-lz-zone-list">
  <div class="card-header">
    <h4><i class="fa {{ list_icon }}"></i> {{ list_title }}</h4>
  </div>
  <div class="card-body omics-card-body-table">
    <table class="table table-striped omics-card-table omics-lz-table">
      <thead>
        <tr>
          <th>Zone</th>
          <th>Assay</th>
          <th id="omics-lz-list-header-info">Status&nbsp;Info</th>
          <th id="omics-lz-list-header-status">Status</th>
          <th id="omics-lz-list-header-links">Links</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for zone in zones %}
          {% include 'landingzones/_zone_item.html' %}
        {% endfor %}
        {% if zones.count == 0 %}
           <td class="bg-faded font-italic text-center" colspan="6">No landing zones found</td>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>