{% load rules %}

{% has_perm 'landingzones.update_zones_own' request.user project as can_update_own %}
{% has_perm 'landingzones.update_zones_all' request.user project as can_update_all %}

<div class="btn-group omics-edit-button-group" id="omics-lz-zone-buttons-{{ zone.omics_uuid }}">
  <button class="btn btn-secondary btn-sm dropdown-toggle omics-edit-dropdown"
      type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cog"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    {% if can_update_all or zone.user == request.user and can_update_own %}
      {% comment %}
      <a class="dropdown-item" href="#">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Update Zone
      </a>
      {% endcomment %}
      {% comment TODO: Add these once the views are done %}
      {% if zone.status != 'MOVED' %}
        <a class="dropdown-item" href="{% url 'zone_move' pk=zone.pk project=project.pk %}">
      {% else %}
        <a class="dropdown-item disabled" href="#">
      {% endif %}
        <i class="fa fa-copy" aria-hidden="true"></i>
        Validate and Move
      </a>
     {% endcomment %}
      <a class="dropdown-item" href="{% url 'landingzones:delete' landingzone=zone.omics_uuid %}">
        <i class="fa fa-close"></i> Delete Zone
      </a>
    {% endif %}
  </div>
</div>
