{% load rules %}
{% load landingzones_tags %}

{% has_perm 'landingzones.update_zone_own' request.user project as can_update_own %}
{% has_perm 'landingzones.update_zone_all' request.user project as can_update_all %}
{% has_perm 'landingzones.delete_zone_own' request.user project as can_delete_own %}
{% has_perm 'landingzones.delete_zone_all' request.user project as can_delete_all %}
{% can_move_zone zone request.user as can_move %}

<div class="btn-group sodar-list-btn-group sodar-lz-zone-dropdown"
     id="sodar-lz-zone-dropdown-{{ zone.sodar_uuid }}">
  <button class="btn btn-secondary dropdown-toggle sodar-list-dropdown
      {% if disable_zone_ui %}disabled{% endif %}"
      type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    <i class="iconify" data-icon="mdi:cog"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    {# Landing zone config plugin options #}
    {% get_config_plugin zone as zone_plugin %}
    {% if zone_plugin %}
      {% for zone_link in zone_plugin.menu_items %}
        <a class="dropdown-item" href="{% get_config_link_url zone zone_link.url_name %}">
          <i class="iconify" data-icon="{{ zone_link.icon }}"></i>
          {{ zone_link.label }}
        </a>
      {% endfor %}
    {% endif %}
    {# General options #}
    <a class="dropdown-item sodar-lz-zone-btn-process sodar-lz-zone-btn-validate
              {% if project_lock or not can_move %}disabled{% endif %}"
       data-can-move="{{ can_move|yesno:'1,0' }}"
       href="{% url 'landingzones:validate' landingzone=zone.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:check-thick"></i>
      Validate Files
    </a>
    <a class="dropdown-item sodar-lz-zone-btn-process sodar-lz-zone-btn-move
              {% if project_lock or not can_move %}disabled{% endif %}"
       data-can-move="{{ can_move|yesno:'1,0' }}"
       href="{% url 'landingzones:move' landingzone=zone.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:arrow-right-bold-hexagon-outline"></i>
      Validate and Move
    </a>
    <a class="dropdown-item sodar-lz-zone-btn-copy"
       href="#"
       data-clipboard-text="{{ zone.sodar_uuid }}">
      <i class="iconify" data-icon="mdi:clipboard-text-multiple"></i>
      Copy Zone UUID
    </a>
    {% if zone.status != 'MOVED' and can_update_all or zone.user == request.user and can_update_own %}
      <a class="dropdown-item sodar-lz-zone-btn-update"
         href="{% url 'landingzones:update' landingzone=zone.sodar_uuid %}">
        <i class="iconify" data-icon="mdi:lead-pencil"></i>
        Update Zone
      </a>
    {% endif %}
    {% if zone.status != 'MOVED' and can_delete_all or zone.user == request.user and can_delete_own %}
      <a class="dropdown-item text-danger sodar-lz-zone-btn-delete"
         href="{% url 'landingzones:delete' landingzone=zone.sodar_uuid %}">
        <i class="iconify" data-icon="mdi:close-thick"></i>
        Delete Zone
      </a>
    {% endif %}
  </div>
</div>
