{% load rules %}

{% has_perm 'landingzones.update_zones_own' request.user project as can_update_own %}
{% has_perm 'landingzones.update_zones_all' request.user project as can_update_all %}

<div class="btn-group lz_zone_buttons" id="lz_zone_buttons_{{ zone.pk }}">
  <button class="btn btn-secondary btn-sm dropdown-toggle"
      type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    {% if can_update_all or zone.user == request.user and can_update_own %}
      {% comment %}
      <a class="dropdown-item" href="#">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Update Zone
      </a>
      {% endcomment %}
      {% if zone.status != 'MOVED' %}
        <a class="dropdown-item" href="{% url 'zone_move' pk=zone.pk project=project.pk %}">
      {% else %}
        <a class="dropdown-item disabled" href="#">
      {% endif %}
        <i class="fa fa-copy" aria-hidden="true"></i>
        Validate and Move
      </a>
      <a class="dropdown-item" href="{% url 'zone_delete' pk=zone.pk project=project.pk %}">
        <i class="fa fa-close" aria-hidden="true"></i>
        Delete Zone
      </a>
    {% endif %}
  </div>
</div>
