{% load landingzones_tags %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

<tr class="{% get_zone_row_class zone %}"
    id="{{ zone.omics_uuid }}"
    zone-uuid="{{ zone.omics_uuid }}"
    sample-url="{% get_zone_samples_url zone %}"
    status-url="{% url 'landingzones:status' landingzone=zone.omics_uuid %}">
  {% if details_card_mode %}
    <td><a href="{% url 'landingzones:list' project=project.omics_uuid %}#{{ zone.omics_uuid }}">{{ zone.title }}</a></td>
  {% else %}
    <td class="omics-lz-zone-title">
      {% if zone.user != request.user %}
        {% autoescape off %}
          {% get_user_html request.user %} /
        {% endautoescape %}
      {% endif %}
      {{ zone.title }}
      {% if zone.description %}
        <a class="omics-ss-assay-info-link" tabindex="0" data-toggle="popover"
           data-trigger="focus" data-placement="top" data-html="true"
           data-content="{% get_zone_desc_html zone %}">
          <i class="fa fa-info-circle text-info"></i>
        </a>
      {% endif %}
    </td>
  {% endif %}
  <td class="omics-lz-zone-assay">{{ zone.assay.get_display_name }}</td>
  <td class="omics-lz-zone-status-info">
      {{ zone.status_info }}
      {% if zone.status == 'MOVED' %}
        <br /><a href="{% get_zone_samples_url zone %}"><i class="fa fa-arrow-circle-right"></i> Browse files in sample sheets</a>
      {% endif %}
  </td>
  <td id="omics-lz-zone-status-{{ zone.omics_uuid }}" class="omics-lz-zone-status text-white {% get_status_style zone %}">{{ zone.status }}</td>
  {% if not details_card_mode %}
    <td class="omics-lz-zone-links">
      <span class="omics-lz-control">
        {# TODO: Refactor this #}
        {% if irods_backend %}
          <button class="btn btn-secondary omics-list-btn omics-lz-popup-list-btn"
                  list-url="{% url 'landingzones:irods_list' landingzone=zone.omics_uuid %}"
                  zone-title="{{ zone.title }}" role="submit"
                  {% if zone.status != 'MOVED' and zone.status != 'CREATING' %}data-toggle="tooltip" data-placement="top" title="List files in landing zone"{% endif %}
                  {% if zone.status == 'MOVED' or zone.status == 'CREATING' %} disabled{% endif %}>
            <i class="fa fa-external-link"></i>
          </button>
        {% endif %}
        <button class="btn btn-secondary omics-list-btn omics-lz-popup-cmd-btn"
                irods-path="{{ zone.get_path }}"
                zone-title="{{ zone.title }}" role="submit"
                {% if zone.status != 'MOVED' and zone.status != 'CREATING' %}data-toggle="tooltip" data-placement="top" title="Get iCommands path to landing zone"{% endif %}
                {% if zone.status == 'MOVED' or zone.status == 'CREATING' %} disabled{% endif %}>
          <i class="fa fa-terminal"></i>
         </button>
        {% if irods_webdav_enabled %}
          <a class="btn btn-secondary omics-list-btn omics-lz-dav-btn
             {% if zone.status == 'MOVED' or zone.status == 'CREATING' %} disabled{% endif %}"
             href="{% get_zone_dav_url zone %}" role="button"
             {% if zone.status != 'MOVED' and zone.status != 'CREATING' %}data-toggle="tooltip" data-placement="top" title="Browse files in WebDAV"{% endif %}>
            <i class="fa fa-folder-open-o"></i>
          </a>
        {% endif %}
      </span>
    </td>
    <td class="omics-lz-zone-edit">
      <span class="omics-lz-control">
        {% include 'landingzones/_zone_buttons.html' %}
      </span>
    </td>
  {% endif %}
</tr>
