{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}

{% load rules %}
{% load landingzones_tags %}

{% block title %}
  Confirm iRODS File Validation {% if not validate_only %}and Moving{% endif %}
{% endblock title %}

{% block projectroles_extend %}

<div class="row omics-subtitle-container">
  <h3>Confirm iRODS File Validation {% if not validate_only %}and Moving{% endif %}</h3>
</div>

<div class="container-fluid omics-page-container">
  <div class="alert alert-warning" role="alert">
    <strong>Note:</strong> You are initiating validation of your landing zone
    "<strong>{{ zone.title }}</strong>". Files will not be moved upon successful
    validation. Please see the landing zone list for the validation result once
    you have confirmed the validation.
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="btn-group ml-auto">
        <a role="button" class="btn btn-secondary" href="{{ request.session.real_referer }}">
          <i class="fa fa-arrow-circle-left"></i> Cancel
        </a>
        {% if validate_only %}
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Validate
          </button>
        {% else %}
          <button type="submit" class="btn btn-danger">
            <i class="fa fa-arrow-right"></i> Validate and Move
          </button>
        {% endif %}
      </div>
    </div>
  </form>
</div>

{% endblock %}
