{% extends 'projectroles/project_base.html' %}
{% load rules %}

{% block title %}
  Confirm Landing Zone Deletion
{% endblock %}

{% block projectroles_extend %}

<div class="row">
  <h3>Confirm Landing Zone Deletion</h3>

  <div>
    <p>
      Do you really want to delete the landing zone "<strong>{{ object.title }}</strong>" in
      the project "<strong>{{ object.project.title }}</strong>"? Note that this will also delete
      <strong>all</strong> files stored under the landing zone in iRODS!
    </p>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="btn-group pull-right">
      <a role="button" class="btn btn-secondary" href="{% url 'project_sheet' project=project.pk %}">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        Cancel
      </a>
     <button type="submit" class="btn btn-danger">
        <i class="fa fa-close" aria-hidden="true"></i>
          Delete
      </button>
    </div>
  </form>
</div>

{% endblock %}
