{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load crispy_forms_filters %}

{% block title %}
  {% if not object.pk %}
    Create Landing Zone in {{ project.title }}
  {% else %}
    Update Landing Zone
    {% if request.user.username == zone.user.username %}
      {{ object.title }}
    {% else %}
      {{ object.user.username }} / {{ object.title }}
    {% endif %}
  {% endif %}
{% endblock title %}

{% block projectroles_extend %}

<div class="container-fluid sodar-subtitle-container">
  <h3>
    {% if not object.pk %}
      Create Landing Zone in {{ project.title }}
    {% else %}
      Update Landing Zone
      {% if request.user.username == object.user.username %}
        {{ object.title }}
      {% else %}
        {{ object.user.username }} / {{ object.title }}
      {% endif %}
    {% endif %}
  </h3>
</div>

<div class="container-fluid sodar-page-container">
  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="row">
      <div class="btn-group ml-auto">
        <a role="button" class="btn btn-secondary"
           href="{{ request.session.real_referer }}">
          <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
        </a>
        <button type="submit" class="btn btn-primary">
          {% if not object.pk %}
            <i class="iconify" data-icon="mdi:plus-thick"></i> Create
          {% else %}
            <i class="iconify" data-icon="mdi:check-bold"></i> Update
          {% endif %}
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock projectroles_extend %}
