{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}

{% load static %}
{% load rules %}
{% load landingzones_tags %}

{% block title %}
  Landing Zones for {{ project.title }}
{% endblock title %}

{% block css %}
  {{ block.super }}
  <!-- Irodsbackend -->
  {% get_backend_include 'omics_irods' 'css' as irodsbackend_css %}
  {{ irodsbackend_css|safe }}

  <style type="text/css">
    .sodar-lz-table {
        table-layout: fixed;
    }
    .sodar-lz-table thead tr th:nth-child(1){
      width: 350px;
    }
    .sodar-lz-table tbody tr td:nth-child(2) {
      word-wrap: break-word;
    }
    .sodar-lz-table thead tr th:nth-child(3),
    .sodar-lz-table tbody tr td:nth-child(3) {
      white-space: nowrap;
      width: 150px;
    }
    .sodar-lz-table thead tr th:nth-child(4),
    .sodar-lz-table tbody tr td:nth-child(4) {
      width: 150px;
      max-width: 150px;
      white-space: nowrap;
    }
    .sodar-lz-table thead tr th:nth-child(5),
    .sodar-lz-table tbody tr td:nth-child(5) {
      text-align: right;
      width: 70px;
      max-width: 140px;
    }
    .sodar-lz-zone-assay-link:hover {
        text-decoration: none;
    }

    /* Responsive modifications */
    @media screen and (max-width: 1300px) {
      .table.sodar-lz-table thead tr th:nth-child(3) {
        display: none;
      }
      .table.sodar-lz-table tbody tr td:nth-child(3) {
        display: none;
      }
    }

    @media screen and (max-width: 1200px) {
      .table.sodar-lz-table thead tr th:nth-child(1) {
        width: 250px;
      }
    }

    @media screen and (max-width: 900px) {
      .table.sodar-lz-table thead tr th:nth-child(2) {
        display: none;
      }
      .table.sodar-lz-table tbody tr td:nth-child(2) {
        display: none;
      }
    }

    @media screen and (max-width: 450px) {
      .table.sodar-lz-table thead tr th:nth-child(4) {
        display: none;
      }
      .table.sodar-lz-table tbody tr td:nth-child(4) {
        display: none;
      }
    }
  </style>
{% endblock css %}

{% block projectroles_extend %}
{% has_perm 'landingzones.update_zone_own' request.user project as can_update_zone_own %}
{% has_perm 'landingzones.update_zone_all' request.user project as can_update_zone_all %}
{% has_perm 'landingzones.create_zone' request.user project as can_create_zone %}

<div class="row sodar-subtitle-container bg-white sticky-top">
  <h3><i class="iconify" data-icon="mdi:briefcase-upload"></i> Landing Zones</h3>
  {% if not zone_access_disabled and investigation and can_create_zone %}
    <div class="ml-auto">
      <a href="{% url 'landingzones:create' project=project.sodar_uuid %}"
         class="btn btn-primary" role="button" id="sodar-lz-btn-create-zone">
       <i class="iconify" data-icon="mdi:plus-thick"></i> Create Zone
      </a>
    </div>
  {% endif %}
</div>

<div class="container-fluid sodar-page-container"> {# Main container #}
  {% if project.archive %}
    <div class="alert alert-warning" id="sodar-lz-alert-archive">
      <i class="iconify" data-icon="mdi:archive"></i> Accessing and deleting
      existing landing zones is permitted. Creating new landing zones and moving
      files into iRODS are not allowed for archived projects.
    </div>
  {% endif %}

  {% if zone_access_disabled %}
    <div class="alert alert-info" role="alert" id="sodar-lz-alert-disable">
      Landing zone operations are disabled for non-superusers on this site.
    </div>

  {% elif not investigation %}
    <div class="alert alert-danger" role="alert" id="sodar-lz-alert-no-sheets">
      No sample sheets are currently available for this project. To create
      landing zones, a person with sufficient project permissions must import an
      ISA-Tab investigation and create the sample collections in iRODS using the
      <a href="{% url 'samplesheets:project_sheets' project=project.sodar_uuid %}">Sample Sheets</a> app.
    </div>

  {% elif investigation and not investigation.irods_status %}
    <div class="alert alert-danger" role="alert" id="sodar-lz-alert-no-colls">
      The iRODS collections for the project sample sheets are not available. A
      user authorized for sample sheet editing must enable iRODS access by
      selecting <cite>"Create in iRODS"</cite> in the
      <a href="{% url 'samplesheets:project_sheets' project=project.sodar_uuid %}">Sample Sheets</a> app.
      After that landing zones can be created for the project.
    </div>

  {% elif zones_own.count == 0 and not zones_other %}
    <div class="alert alert-info" role="alert" id="sodar-lz-alert-no-zones">
      No landing zones are currently available for you in this project. Please
      create a landing zone for a desired assay using the "Zone Operations" menu.
    </div>

  {% else %}
    {# User zones #}
    {% include 'landingzones/_zone_list.html' with zones=zones_own list_title='Your Zones' list_icon='mdi:account' list_type='own' %}
    {% if zones_other %}
      {% include 'landingzones/_zone_list.html' with zones=zones_other list_title='Other Zones' list_icon='mdi:account-multiple' list_type='other' %}
    {% endif %}
  {% endif %}

</div> {# Main container #}

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}

  <!-- Settings for Javascript -->
  <script type="text/javascript">
    window.zoneStatusUpdated = false;
    window.statusInterval = {{ zone_status_interval }} * 1000;
    window.irodsShowChecksumCol = true;
    var zoneStatusUrl = "{% url 'landingzones:ajax_status' project=project.sodar_uuid %}";
    <!-- Superuser status variable -->
    var currentUserURL = "{% url 'projectroles:ajax_user_current' %}";
  </script>

  <!-- Landingzones Javascript -->
  <script type="text/javascript" src="{% static 'landingzones/js/landingzones.js' %}"></script>

  {# HACK: Manually include since plugin include is disabled (see sodar_core#261) #}
  <script type="text/javascript" src="/static/irodsbackend/js/irodsbackend.js"></script>

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('zone_info', {
        title: 'Landing Zones',
        text: 'In this view you can create and manage personal landing zones ' +
              'for uploading data to the project sample data repository in ' +
              'iRODS.',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    // No zones
    if ($('#sodar-lz-alert-no-zones').length) {
        tour.addStep('no_zones', {
            title: 'No Landing Zones Available',
            text: 'No landing zones are currently available. See the alert ' +
                  'box for instruction on how to proceed.',
            attachTo: '#sodar-lz-alert-no-zones top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    if ($('#sodar-lz-zone-list-own').length) {
        tour.addStep('own_zones', {
            title: 'Your Zones',
            text: 'Your own landing zones are listed in this table.',
            attachTo: '#sodar-lz-zone-list-own top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    if ($('#sodar-lz-zone-list-other').length) {
        tour.addStep('other_zones', {
            title: 'Zones of Other Users',
            text: 'This table lists zones of other users to which you have ' +
                  'been given access.',
            attachTo: '#sodar-lz-zone-list-other top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    if ($('#sodar-lz-buttons-list').length) {
        tour.addStep('zone_operations', {
            title: 'Zone Operations',
            text: 'Create new zones or clear existing moved zones from this ' +
                  'menu.',
            attachTo: '#sodar-lz-buttons-list left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    // Table data
    if ($('.sodar-lz-table').length) {
        tour.addStep('zone_title', {
            title: 'Zone Title',
            text: 'The title of each stone is shown in the leftmost column. ' +
                  'The title is presented in the form of a time stamp of the ' +
                  'creation date and an optional text idenfitier.',
            attachTo: '.sodar-lz-list-header-title top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        tour.addStep('zone_assay', {
            title: 'Zone Assay',
            text: 'Each landing zone is specific to an assay within the ' +
                  'project studies. This assay icon links to the assay in ' +
                  'the Sample Sheets app.',
            attachTo: '.sodar-lz-zone-assay-link right',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        if ($('.sodar-lz-zone-description-link').length) {
            tour.addStep('zone_description', {
            title: 'Zone Description',
            text: 'Clicking on this icon will display an optional ' +
                'description for the landing zone.',
            attachTo: '.sodar-lz-zone-description-link right',
            advanceOn: '.docs-link click',
            showCancelLink: true
          });
        }

        tour.addStep('zone_status', {
            title: 'Zone Status',
            text: 'The status of each landing zone can be seen in this ' +
                  'column. Available actions depend on the current status. ' +
                  '"ACTIVE" zones are ones in which you can freely upload ' +
                  'and modify files. "FAILED" zones have experienced ' +
                  'problems in validation or transfer, which you can now ' +
                  'correct.',
            attachTo: '.sodar-lz-list-header-status top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        tour.addStep('zone_status_info', {
            title: 'Zone Status Information',
            text: 'Detailed information about the landing zone status can be ' +
                  'found here along with current zone file size and file ' +
                  'count.',
            attachTo: '.sodar-lz-list-header-info top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        tour.addStep('zone_links', {
            title: 'iRODS Links for Zone',
            text: 'Links for iRODS access for available zone are presented ' +
                  'in this column.',
            attachTo: '.sodar-lz-zone-links left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });

        tour.addStep('zone_dropdown', {
            title: 'Zone Dropdown',
            text: 'From the zone dropdown, you can trigger the data ' +
                  'validation and moving operation for moving your landing ' +
                  'zone content into the project sample repository. Here you ' +
                  'can also delete unwanted landing zones.',
            attachTo: '.sodar-lz-zone-edit left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    // Create zone
    if ($('#sodar-lz-btn-create-zone').length) {
        tour.addStep('zone_create', {
            title: 'Create Zone',
            text: 'This button takes you to the landing zone creation form ' +
                  'in which you can set up a new zone.',
            attachTo: '#sodar-lz-btn-create-zone left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
  </script>
{% endblock javascript %}
