{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}

{% load static %}
{% load rules %}
{% load landingzones_tags %}

{% block title %}
  Landing Zones for {{ project.title }}
{% endblock title %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    #omics-lz-list-table td:first-child {
      white-space: nowrap;
    }

    #omics-lz-list-table thead tr th:nth-child(7) {
      width: 85px !important;
    }

    #omics-lz-list-table thead tr th:nth-child(8) {
      width: 40px !important;
    }

    {# TODO: Add responsive hiding of columns #}
  </style>
{% endblock css %}

{% block projectroles_extend %}
{% has_perm 'landingzones.update_zones_own' request.user project as can_update_zones_own %}
{% has_perm 'landingzones.update_zones_all' request.user project as can_update_zones_all %}
{% has_perm 'landingzones.add_zones' request.user project as can_add_zones %}

<div class="row omics-subtitle-container bg-white sticky-top">
  <h3><i class="fa fa-database"></i> Landing Zones</h3>
  {% if can_add_zones %}
    {% include 'landingzones/_list_buttons.html' %}
  {% endif %}
</div>

<div class="container-fluid omics-page-container"> {# Main container #}

  {% if not investigation %}
    <div class="alert alert-danger" role="alert">
      <strong>Note:</strong> No sample sheets are currently available for this project.
      To create landing zones, a person with sufficient project permissions must
      import an ISAtab investigation and create the sample directory structure in iRODS
      using the <a href="{% url 'samplesheets:project_sheets' project=project.omics_uuid %}">Samplesheets app</a>.
    </div>

  {% elif investigation and not investigation.irods_status %}
    <div class="alert alert-danger" role="alert">
      <strong>Note:</strong> The iRODS directory structure for the project sample
      sheets is not available. A user authorized for sample sheet editing must
      enable iRODS access by selecting <cite>"Create in iRODS"</cite> in the
      <a href="{% url 'samplesheets:project_sheets' project=project.omics_uuid %}">Samplesheets app</a>.
      After that landing zones can be created for the project.
    </div>

  {% else %}
    {# Landing zone list #}
    <div class="card omics-card-single" id="omics-lz-zone-list">
      <div class="card-header">
        <h4>{{ zone_list_title }}</h4>
      </div>
      <div class="card-body omics-card-body-table">
        <table class="table table-striped omics-card-table" id="omics-lz-list-table">
          <thead>
            <tr>
              <th>Zone</th>
              <th>Assay</th>
              <th>User</th>
              <th id="omics-lz-list-header-info">Status&nbsp;Info</th>
              <th id="omics-lz-list-header-status">Status</th>
              <th id="omics-lz-list-header-links">Links</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for zone in zones %}
              {% include 'landingzones/_zone_item.html' %}
            {% endfor %}
            {% if zones.count == 0 %}
                <td class="bg-faded font-italic text-center" colspan="7">No landing zones found</td>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

  {% endif %}

</div> {# Main container #}

<span id="omics-lz-popup-list" row-id=""></span>

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    var updateZoneStatus = function() {
        $('.omics-lz-zone-tr-existing').each(function(){
            var trId = $(this).attr('id');
            var zoneUuid = $(this).attr('zone-uuid');
            var projectUuid = $(this).attr('project-uuid');

            if ($(this).find('td.omics-lz-zone-status').text() !== 'MOVED') {
                $.ajax({
                    url: $(this).attr('status-url'),
                    method: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    console.log(trId + ': ' + data['status']);  // DEBUG
                    zoneTr = $('#' + trId);
                    statusTd = zoneTr.find('td#omics-lz-zone-status-' + zoneUuid);
                    var statusStyles = {
                        'CREATING': 'bg-warning',
                        'NOT CREATED': 'bg-danger',
                        'ACTIVE': 'bg-info',
                        'PREPARING': 'bg-warning',
                        'VALIDATING': 'bg-warning',
                        'MOVING': 'bg-warning',
                        'MOVED': 'bg-success',
                        'FAILED': 'bg-danger'
                    };

                    if (statusTd.text() !== data['status'] ||
                            zoneTr.find('td.omics-lz-zone-status-info').text() !== data['status_info']) {
                        zoneTr.find('td.omics-lz-zone-status-info').text(data['status_info']);
                        statusTd.text(data['status']);
                        statusTd.removeClass();
                        statusTd.addClass(statusStyles[data['status']] + ' text-white');

                        if (data['status'] === 'MOVED' || data['status'] === 'CREATING') {
                            zoneTr.find('td.omics-lz-zone-title').addClass('text-muted');
                            zoneTr.find('td.omics-lz-zone-description').addClass('text-muted');
                            zoneTr.find('td.omics-lz-zone-status-info').addClass('text-muted');
                            zoneTr.find('td.omics-lz-zone-links').find('span.zone-td-control').hide();
                            zoneTr.find('td.omics-lz-zone-edit').find('span.zone-td-control').hide();
                            if (data['status'] === 'MOVED') {
                                zoneTr.find('td.omics-lz-zone-status-info').append('<br /><a href="/sheets/' + projectUuid + '"><i class="fa fa-arrow-circle-right"></i> Browse files in sample sheet</a>');
                            }
                        }

                        else {
                            zoneTr.find('td.omics-lz-zone-title').removeClass('text-muted');
                            zoneTr.find('td.omics-lz-zone-description').removeClass('text-muted');
                            zoneTr.find('td.omics-lz-zone-status-info').removeClass('text-muted');
                            zoneTr.find('td.omics-lz-zone-links').find('span.zone-td-control').show();
                            zoneTr.find('td.omics-lz-zone-edit').find('span.zone-td-control').show();
                        }
                    }
                });
            }
        });
    };

    $(document).ready(function() {
        updateZoneStatus();
        var statusInterval = {{ zone_status_interval }} * 1000;

        // Poll and update active zones
        var interval = setInterval(function () {
            updateZoneStatus();
        }, statusInterval);
    });
  </script>

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = false;
    {# TODO: Copy tour from omics_data_access #}
  </script>
{% endblock javascript %}
