{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}

{% load rules %}
{% load landingzones_tags %}

{% block title %}Confirm iRODS File Validation and Moving{% endblock %}

{% block projectroles_extend %}

<div class="row">
  <h3>Confirm iRODS File Validation and Moving</h3>

  <div class="alert alert-warning" role="alert">
    <p>
      <strong>Warning:</strong> Are you sure you want to initiate the file
      validation and moving project in iRODS? After checking, all files from
      the landing zone
      "<strong>{{ zone.user.username }}/{{ zone.title }}</strong>"
      will be copied into the <cite>bio_samples</cite> collection of
      project "<strong>{{ project.title }}</strong>" with read-only access.
    </p>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="btn-group pull-right">
      <a role="button" class="btn btn-secondary" href="{% url 'project_zones' project=project.pk %}">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        Cancel
      </a>
     <button type="submit" class="btn btn-danger">
        <i class="fa fa-copy" aria-hidden="true"></i>
          Validate and Move
      </button>
    </div>
  </form>
</div>

{% endblock %}
