{# Samplesheets dependency #}
{% load samplesheets_tags %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{% load samplesheets_study_germline_tags %}

<div class="card">
  <div class="card-header">
    <h4>
      Pedigree-Wise iRODS and IGV Shortcuts
      {% if investigation.irods_status %}
        <i class="fa fa-spin fa-circle-o-notch text-muted sodar-irods-wait-icon"></i>
      {% endif %}

      <div class="input-group sodar-header-input-group pull-right" table-id="sodar-ss-germline-table">
      <input class="form-control sodar-ss-data-filter"
           type="text" placeholder="Filter" aria-label="Filter Pedigree Data"
           id="sodar-ss-germline-filter">
      </div>
    </h4>
  </div>
  {% if investigation.irods_status %}
    <div class="card-body p-0 sodar-ss-contentapp-container">
      <div class="table-responsive sodar-ss-init-container">
        <table class="table cell-border order-column sodar-ss-data-table sodar-ss-data-table-contentapp sodar-ss-data-table-studyapp" id="sodar-ss-germline-table">
          <thead>
            <tr>
              <th>Family</th>
              <th>BAM files</th>
              <th>VCF file</th>
              <th>IGV session file</th>
            </tr>
          </thead>
          <tbody>
            {% get_families study as families %}
            {% for fam_id in families %}
              <tr>
                <td>{{ fam_id }}</td>
                <td>
                  {% get_family_sources study fam_id as fam_sources %}
                  {% for fam_source in fam_sources %}
                    {% url 'samplesheets.studyapps.germline:file' file_type='bam' genericmaterial=fam_source.sodar_uuid as bam_url %}
                    {% get_full_url request bam_url as full_bam_url %}
                    <div class="btn-group sodar-list-btn-group mb-1 mr-1">
                      <button class="btn sodar-list-btn btn-outline-secondary text-body" disabled>
                        {{ fam_source.name }}
                      </button>
                      <a role="button" class="btn sodar-list-btn btn-secondary disabled"
                         href="{{ bam_url }}" title="Download {{ fam_source.name }} BAM file">
                        <i class="fa fa-download"></i> Download
                      </a>
                      {% comment %}
                      <!-- TODO: (1) not full URL, (2) configure genome build in project config, (3) get port from user profile -->
                      <a role="button" class="btn sodar-list-btn btn-secondary disabled"
                         href="http://127.0.0.1:60151/load?genome=b37&merge=true&file={{ full_bam_url }}"
                         title="Open {{ fam_source.name }} BAM file in IGV">
                        <i class="fa fa-share-square-o"></i> IGV
                      </a>
                      {% endcomment %}
                    </div>
                  {% endfor %}
                </td>
                <td>
                  {% url 'samplesheets.studyapps.germline:file' file_type='vcf' genericmaterial=fam_sources.0.sodar_uuid as vcf_url %}
                  {% get_full_url request vcf_url as full_vcf_url %}
                  <div class="btn-group sodar-list-btn-group">
                    <a role="button" class="btn sodar-list-btn btn-secondary disabled"
                       href="{{ vcf_url }}" title="Download pedigree VCF file">
                      <i class="fa fa-download"></i> Download
                    </a>
                    {% comment %}
                    <!-- TODO: (1) not full URL, (2) configure genome build in project config, (3) get port from user profile -->
                    <a role="button" class="btn sodar-list-btn btn-secondary disabled"
                       href="http://127.0.0.1:60151/load?genome=b37&merge=true&file={{ full_vcf_url }}"
                       title="Open pedigree VCF file in IGV">
                      <i class="fa fa-share-square-o"></i> IGV
                    </a>
                    {% endcomment %}
                  </div>
                <td>
                  {% url 'samplesheets.studyapps.germline:igv' genericmaterial=fam_sources.0.sodar_uuid as igv_url %}
                  <div class="btn-group sodar-list-btn-group">
                    <a role="button" class="btn sodar-list-btn sodar-igv-btn btn-secondary disabled"
                       href="{{ igv_url }}" title="Download IGV session file for full pedigree">
                      <i class="fa fa-download"></i> Download
                    </a>
                    <!-- TODO: (1) not full URL, (2) configure genome build in project config, (3) get port from user profile -->
                    <button type="button" class="btn sodar-list-btn sodar-igv-btn btn-secondary"
                       onclick="javascript:$.ajax({url: 'http://127.0.0.1:60151/load?genome=b37&merge=false&file=https://cubi-omics-davrods-beta.bihealth.org/__sodar{{ igv_url }}.xml'})"
                       title="Open IGV session file for full pedigree in IGV" disabled>
                      <i class="fa fa-share-square-o"></i> IGV
                    </button>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <div class="card-body text-center">
    <p class="font-italic">
      iRODS directories not created, file listing disabled
    </p>
    </div>
  {% endif %}
</div>
