{% extends 'projectroles/base.html' %}

{% load rules %}
{% load crispy_forms_filters %}

{% block title %}{% if object.pk %}Update{% else %}Import{% endif %} OBO/OWL Format Ontology{% endblock %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    input#id_term_url {
      font-family: monospace;
    }
    div.alert ul {
      margin-bottom: 0;
    }
  </style>
{% endblock css %}

{% block projectroles %}

<div class="row sodar-subtitle-container">
  <h2>{% if object.pk %}Update{% else %}Import{% endif %} OBO/OWL Format Ontology</h2>
</div>

<div class="container-fluid sodar-page-container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="row">
      <div class="btn-group ml-auto" role="group">
        <a role="button" class="btn btn-secondary"
           href="{{ request.session.real_referer }}">
          <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
        </a>
        <button type="submit" class="btn btn-primary sodar-btn-submit-once">
          {% if object.pk %}
            <i class="iconify" data-icon="mdi:check-bold"></i> Update
          {% else %}
            <i class="iconify" data-icon="mdi:upload"></i> Import
          {% endif %}
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock projectroles %}
