{% extends 'projectroles/base.html' %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{% load rules %}

{% block title %}OBO Ontology: {{ object.title }} ({{ object.name }}){% endblock %}

{% block projectroles %}

<div class="row sodar-subtitle-container">
  <h2><i class="fa fa-tag"></i> {{ object.title }} ({{ object.name }})</h2>
  <a role="button" class="btn btn-secondary ml-auto pull-right"
       href="{{ request.session.real_referer }}">
      <i class="fa fa-arrow-circle-left"></i> Back
    </a>
</div>

<div class="container-fluid sodar-page-container">
  <div class="card" id="sodar-oa-obo-details">
    <div class="card-header">
      <h4>Ontology Information</h4>
    </div>
    <div class="card-body px-0">
      <dl class="row pb-0">
        <dt class="col-md-3">Ontology Name</dt>
        <dd class="col-md-9">{{ object.name }}</dd>
        <dt class="col-md-3">Ontology ID</dt>
        <dd class="col-md-9">{{ object.ontology_id }}</dd>
        <dt class="col-md-3">Title</dt>
        <dd class="col-md-9">{{ object.title }}</dd>
        <dt class="col-md-3">Description</dt>
        {% if object.description %}
          <dd class="col-md-9">{{ object.description }}</dd>
        {% else %}
          <dd class="col-md-9 text-muted">N/A</dd>
        {% endif %}
        <dt class="col-md-3">Format Version</dt>
        <dd class="col-md-9">{{ object.format_version }}</dd>
        <dt class="col-md-3">Data Version</dt>
        {% if object.data_version %}
          <dd class="col-md-9">{{ object.data_version }}</dd>
        {% else %}
          <dd class="col-md-9 text-muted">N/A</dd>
        {% endif %}
        <dt class="col-md-3">Default Namespace</dt>
        {% if object.default_namespace %}
          <dd class="col-md-9">{{ object.default_namespace }}</dd>
        {% else %}
          <dd class="col-md-9 text-muted">N/A</dd>
        {% endif %}
        <dt class="col-md-3">Term URL</dt>
        <dd class="col-md-9"><code>{{ object.term_url }}</code></dd>
        <dt class="col-md-3">Ontology File/URL</dt>
        <dd class="col-md-9"><code>{{ object.file }}</code></dd>
        <dt class="col-md-3">SODAR Import Version</dt>
        <dd class="col-md-9">{{ object.sodar_version }}</dd>
        <dt class="col-md-3">Imported</dt>
        <dd class="col-md-9">{{ object.date_created|date:'Y-m-d H:i' }}</dd>
        <dt class="col-md-3">Term Count</dt>
        <dd class="col-md-9">{{ object.terms.all.count }}</dd>
      </dl>
    </div>
  </div>
</div>

{% if ex_term %}
  <div class="container-fluid sodar-page-container">
    <div class="card" id="sodar-oa-obo-details-term">
      <div class="card-header">
        <h4>Term Example</h4>
      </div>
      <div class="card-body px-0">
        <dl class="row pb-0">
          <dt class="col-md-3">ID</dt>
          <dd class="col-md-9">{{ ex_term.term_id }}</dd>
          <dt class="col-md-3">Name</dt>
          <dd class="col-md-9">{{ ex_term.name }}</dd>
          <dt class="col-md-3">Accession</dt>
          <dd class="col-md-9"><a href="{{ ex_term_acc }}" target="_blank">{{ ex_term_acc }}</a></dd>
          {% if ex_term.definition %}
            <dt class="col-md-3">Definition</dt>
            <dd class="col-md-9">{{ ex_term.definition }}</dd>
          {% endif %}
          {% if ex_term.is_obsolete %}
            <dt class="col-md-3">Obsolete</dt>
            <dd class="col-md-9 text-danger">
              Yes{% if ex_term.replaced_by %}, replaced by {{ ex_term.replaced_by }}{% endif %}
            </dd>
          {% endif %}
          {% if ex_term.alt_ids %}
            <dt class="col-md-3">Alternative IDs</dt>
            <dd class="col-md-9">{{ ex_term.alt_ids | join:"; " }}</dd>
          {% endif %}
          {% if ex_term.synonyms %}
            <dt class="col-md-3">Synonyms</dt>
            <dd class="col-md-9">{{ ex_term.synonyms | join:"; " }}</dd>
          {% endif %}
          {% if ex_term.namespace %}
            <dt class="col-md-3">Namespace</dt>
            <dd class="col-md-9">{{ ex_term.namespace }}</dd>
          {% endif %}
          {% if ex_term.comment %}
            <dt class="col-md-3">Comment</dt>
            <dd class="col-md-9">{{ ex_term.comment }}</dd>
          {% endif %}
        </dl>
      </div>
    </div>
  </div>
{% endif %}

{% endblock projectroles %}
