{% load irodsbackend_tags %}

{# Parameters #}
{# irods_dirs: Whether iRODS dirs exist (boolean) #}
{# irods_path: full iRODS path to link to #}
{# list_url: SODAR URL for querying file list #}
{# data_table: Whether the file is included within a data table (boolean) #}
{# show_file_list: Whether to show the file list popup (boolean) #}
{# disable_all: Show but disable buttons if True (boolean) #}

{% is_webdav_enabled as irods_webdav_enabled %}
{% get_webdav_url as irods_webdav_url %}

<style type="text/css">
  /* Size column */
  table.sodar-irods-obj-table thead tr th:nth-child(2) {
    min-width: 60px;
    text-align: right;
  }

  table.sodar-irods-obj-table tbody tr td:nth-child(2) {
    text-align: right;
    white-space: nowrap;
  }

  /* Date column */
  table.sodar-irods-obj-table tbody tr td:nth-child(3) {
    width: 5%;
    white-space: nowrap;
  }

  /* MD5 column */
  table.sodar-irods-obj-table thead tr th:nth-child(4) {
    width: 40px;
    text-align: center;
  }

  table.sodar-irods-obj-table tbody tr td:nth-child(4) {
    text-align: center;
  }
</style>

<span class="text-nowrap">
  {% if show_file_list and irods_backend_enabled and irods_webdav_enabled %}
    <button class="btn btn-secondary sodar-list-btn sodar-irods-popup-list-btn"
            irods-path="{{ irods_path }}"
            list-url="{{ list_url }}"
            webdav-url="{{ irods_webdav_url }}"
            role="submit"
            {# NOTE: Modal not triggered here as data is async, see JQuery #}
            {% if not data_table %}
              data-tooltip="tooltip" data-placement="top"
            {% endif %}
            title="List files"
            disabled>
      <i class="fa fa-folder-open-o"></i>
    </button>
  {% endif %}
  <button class="btn btn-secondary sodar-list-btn sodar-irods-copy-btn sodar-irods-path-btn"
          data-clipboard-text="{{ irods_path }}" role="submit"
          data-table="{% if data_table %}1{% else %}0{% endif %}"
          {% if not data_table %}
            data-tooltip="tooltip" data-placement="top"
          {% endif %}
          title="Copy iRODS path into clipboard"
          disabled>
    <i class="fa fa-terminal"></i>
  </button>
  <button class="btn btn-secondary sodar-list-btn sodar-irods-copy-btn"
          data-clipboard-text="{{ irods_webdav_url }}{{ irods_path }}" role="submit"
          data-table="{% if data_table %}1{% else %}0{% endif %}"
          {% if not data_table %}
            data-tooltip="tooltip" data-placement="top"
          {% endif %}
          title="Copy WebDAV URL into clipboard"
          disabled>
    <i class="fa fa-clipboard"></i>
  </button>
  <a class="btn btn-secondary sodar-list-btn sodar-irods-dav-btn {% if data_table %}mr-1{% endif %} disabled"
     href="{{ irods_webdav_url }}{{ irods_path }}" role="button"
     data-table="{% if data_table %}1{% else %}0{% endif %}"
     {% if not data_table %}
       data-tooltip="tooltip" data-placement="top"
     {% endif %}
     title="Browse files in WebDAV">
    <i class="fa fa-external-link"></i>
  </a>
</span>
