{# Projectroles dependency #}
{% load projectroles_common_tags %}
{% load irodsbackend_tags %}

{# Parameters #}
{# project: Project object #}
{# irods_colls: Whether iRODS collections exist (boolean) #}
{# irods_path: full iRODS path to link to #}
{# disable_all: Show but disable buttons if True (boolean) #}

{% get_django_setting 'IRODS_WEBDAV_ENABLED' as irods_webdav_enabled %}
{% get_webdav_url project request.user as irods_webdav_url %}

<span class="text-nowrap sodar-irods-btn-container">
  <button class="btn btn-secondary sodar-list-btn sodar-irods-btn sodar-irods-copy-btn sodar-irods-path-btn
          {% if not irods_webdav_enabled or not irods_colls or disable_all %} no-colls {% endif %}"
          data-clipboard-text="{{ irods_path }}" role="submit"
          title="Copy iRODS path into clipboard"
          {% if not irods_colls or disable_all %} disabled{% endif %}>
    <i class="iconify" data-icon="mdi:console-line"></i>
  </button>
  <button class="btn btn-secondary sodar-list-btn sodar-irods-btn sodar-irods-copy-btn"
          data-clipboard-text="{{ irods_webdav_url }}{{ irods_path }}" role="submit"
          title="Copy WebDAV URL into clipboard"
          {% if not irods_colls or disable_all %} disabled{% endif %}>
    <i class="iconify" data-icon="mdi:clipboard-text-multiple"></i>
  </button>
  <a class="btn btn-secondary sodar-list-btn sodar-irods-btn sodar-irods-dav-btn"
     href="{{ irods_webdav_url }}{{ irods_path }}" role="button"
     title="Browse files in WebDAV">
    <i class="iconify" data-icon="mdi:open-in-new"></i>
  </a>
</span>
