{% load timeline_tags %}
{% load rules %}
{% has_perm 'timeline.view_timeline' request.user project as can_view_timeline %}
{% has_perm 'timeline.view_classified_event' request.user project as can_view_classified %}

<style type="text/css">
  /* Main table */
  table#omics-tl-table-details-card tr td:nth-child(1) {
    white-space: nowrap;
  }

  table#omics-tl-table-details-card td:nth-child(5) {
    width: 100%;
  }

</style>

{% if can_view_timeline %}
  <table class="table table-striped omics-card-table" id="omics-tl-table-details-card">
    <thead>
      {% include 'timeline/_list_header.html' with details_card_mode=True %}
    </thead>
    <tbody>
      {% get_details_events project can_view_classified as events %}
      {% if events|length > 0 %}
        {% for event in events %}
          {% include 'timeline/_list_item.html' with event=event details_card_mode=True %}
        {% endfor %}
      {% else %}
        <tr>
          <td class="bg-faded font-italic text-center" colspan="6">No events</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endif %}
