{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="col-md-4 mx-auto">
    <h2 class="omics-pr-content-title">Login</h2>

    <p>Please log in using your Charité or MDC account.</p>

    <form class="form-signin" method="post" id="omics-form-signin">
      {% csrf_token %}
      <input type="text" name="username" id="input-username" class="form-control" placeholder="username@DOMAIN" required autofocus>
      <input type="password" name="password" id="input-password" class="form-control my-sm-2 mb-sm-2" placeholder="Password" required>
      <button class="btn btn-md btn-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> Sign In</button>
    </form>
  </div>
</div>
{% endblock content %}
